{% load i18n %}{% autoescape off %}
{% blocktranslate %}Você está recebendo este e-mail porque solicitou uma redefinição de senha para sua conta de usuário em {{ site_name }}.{% endblocktranslate %}

{% translate "Acesse a seguinte página e escolha uma nova senha" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'usuarios:password_reset_confirm' uidb64=uid token=token %}
    uid: {{ uid }}
    token: {{ token }}
{% endblock %}
{% translate 'Seu nome de usuário, caso tenha esquecido:' %} {{ user.get_username }}

{% translate "Thanks for using our site!" %}

{% blocktranslate %}Equipe SIGESAUDE {% endblocktranslate %}

{% endautoescape %}
