{% extends 'baseP.html' %} {% load static %}

{% block title %}Resetar a  Senha {% endblock %} {% block content %}


<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-4 ">

            <br><br>
            <h4><b>Resetar a  Senha</b></h4>
            <br><br>
            <form method="POST" class="col-md-12 needs-validation" novalidate>
        
                {% csrf_token %}

                {% bootstrap_form form %}

                <br>

                <div class="row jeustify-content-centr">
                    <div class="col-md-12 mb-5">
                        <div class="text-right">
                            <a href="{% url 'usuarios:login_usuario' %}" class="btn btn-outline-danger mr-2">Cancelar</a>
                            <button class="btn btn-primary" type="submit">Enviar</button>

                        </div>
                    </div>
                </div>

            </form>



        </div>

    </div>
</div>
{% endblock content %}

{%block scripts %}

{%endblock scripts%}