{% extends 'baseP.html' %} {% load static %}

{% block title %} Resetar a  Senha  {% endblock %} {% block content %}


<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-4 ">

            <br><br>
            <h4><b>Esqueci minha senha</b></h4>
            <br><br>
            <h3>Um email foi enviado com as instruções para resetar sua senha</h3>



        </div>

    </div>
</div>
{% endblock content %}

{%block scripts %}

{%endblock scripts%}