{% extends 'baseP.html' %} {% load static %} {% load bootstrap5 %}
{% load bootstrap5 %}
{%block logo%}



{% endblock logo %}

{% block content %}

{% block login_form %}
<div class="container-fluid">
     <div class="row justify-content-center">
          <div class="col-md-4 ">
               <br><br><br>
               <div class="d-grid">
                    <h3>A sua senha foi alterada com sucesso. </br>Clique <a
                         href="{% url 'usuarios:login_usuario'%}">aqui</a></h3>
               </div>

          </div>
     </div>
</div>
{% endblock login_form %}


{% endblock content %}