{% extends 'base.html' %} 
{% block title%}
  {% if request.resolver_match.url_name == 'add-diaria' %} 
      Criar Diária
  {%else%} 
      Editar Diária
  {%endif%} 
{%endblock title%}
{% load crispy_forms_tags %}




{% block content %}
<div class="container-fluid">
  {% include 'diaria/abas_diaria.html' %}

  <div class="row">
    <div class="col-md-12">
        {% include 'includes/mensagens.html'%}
    </div>
</div>
  <div class="col-12 m-2 pl-3">
    <h4 class=" text-primary"><b>Diária</b> </h4>
  </div>

  <form method="POST" enctype="multipart/form-data" autocomplete="off" class="col-12 px-4 mt-2 needs-validation" novalidate>
    <br>
    <fieldset>
      {% csrf_token %}
      <legend class="text-primary"> <b> Dados da Diária </b></legend>
      <hr>
      <div class="row mt-2">
     
        <div class="col-md-6">{{form.profissional|as_crispy_field }} </div>
        <div class="col-md-2">{{form.fonte|as_crispy_field }}</div>
        <div class="col-md-2">{{form.conta|as_crispy_field }}</div>
        <div class="col-md-2">{{form.data_diaria|as_crispy_field }}</div>
      </div>
      <div class="row">
        <div class="col-md-12">{{form.descricao|as_crispy_field|safe }}</div>
      </div>
      <div class="row">

        <div class="col-md-3">{{form.tipo_diaria|as_crispy_field }}</div>
        <div class="col-md-3">{{form.qta_diaria|as_crispy_field }}</div>
        <div class="col-md-3">{{form.valor|as_crispy_field }}</div>
        <div class="col-md-3">{{form.reembolso|as_crispy_field }}</div>

      </div>
     
      <div class="row">
        <div class="col-md-12">{{form.obs|as_crispy_field }}</div>
      </div>
      <div class="row">
        <div class="col-md-6">{{ form.viagem_orig|as_crispy_field }}</div>
        <div class="col-md-6">{{ form.viagem_dest|as_crispy_field }}</div>
      </div>


    </fieldset>
    <br>
   

    <div class="row justify-content-center">
      <div class="col-md-12 mb-5">
        <div class="text-right">
          <a href="{% url 'despesas:list-diaria'%}" class="btn btn-outline-danger mr-2">Cancelar</a>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </div>
    </div>
  </form>
  <br /><br /><br />
</div>
</div>


{% endblock %}

{%block scripts %}
<script src='/static/utils/jquery.formset.js'></script>



{% endblock scripts %}