{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  {% include 'diaria/abas_diaria.html' %}

  {% include 'includes/mensagens.html'%}

  <div class="row">
    <div class="col-md-12">

      <div class="text-right">
        <a href="{% url 'despesas:add-diaria' %}" class="btn btn-primary"><b>Cadastrar Diária</b>
        </a>
      </div>
    </div>
  </div>

  <div class="row justify-content-center ">
    <div class="col-md-8 ">
      <h4 class=" text-primary"><strong>Diárias</strong> </h4>
    </div>
  </div>
  <br>
  <div class="row ">
    <div class="container">
      <div class="row justify-content-center">

        <form class="col-md-8 needs-validation" action="{% url 'despesas:search-diaria'%}" method="GET"
          id="validar-form">

          <div class="row">
            <div class="col-md-12">
              <div class="alert alert-danger d-none" role="alert">
                Insira algum filtro para realizar a busca.
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-12">
              <label for="buscar"><strong> Busque pelo Nome/CPF</strong></label>
              <input type="search" name="buscar" class="form-control" value="{{request.GET.buscar}}" id="buscar">

            </div>
          </div>
          <div class="row">

            <div class="col-md-4 pt-2 ">
              <label for="id_data">Data da Diária</label>
              <input type="date" name="data" class="form-control" id="id_data" value="{{request.GET.data}}">
            </div>
            <div class="col-md-8  mt-3 ">
              <br>
              <div class="float-right">
                <a class="btn mr-2" href="{% url 'despesas:list-diaria'%}" style="background-color:#DADADA;"> Limpar
                  Filtros</a>
                <button type="submit" class=" btn btn-primary ">Buscar</button>

              </div>
            </div>

          </div>
        </form>
      </div>
    </div>

  </div>



  <div class="row">
    <div class="col-md-12 mt-4">
      {% if diarias %}

      <div class="card">
        <div class="card-header">
          <h3 class="logo pt-2"><strong>Diárias</strong>

          </h3>

        </div>
        <!-- /.card-header -->
        <div class="table-responsive-md">
          <div class="card-body">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Nome Profissional</th>
                  <th>CPF</th>
                  <th>CNS</th>
                  <th>Data da Diária</th>
                  <th>Ação</th>
                </tr>
              </thead>
              <tbody>
                {%for diaria in diarias %}
                <tr>
                  <td>{{diaria.id}}</td>
                  <td>{{diaria.profissional.nome_completo}}</td>

                  <td>{{diaria.profissional.formt_cpf}}</td>

                  <td>{{diaria.profissional.cns}}</td>
                  <td>{{diaria.data_diaria|date:"d/m/Y"|default:'---'}}</td>
                  <td>

                    <a href="{% url 'despesas:detail-diaria' diaria.id%}" class="pr-1"><i
                        class="fas fa-solid fa-eye"></i></a>

                    <a href="{% url 'despesas:edit-diaria' diaria.id%}" class="pr-1 text-warning"><i
                        class="fas fa-edit"></i></a>

                    <a href="#modal--{{diaria.id}}" data-bs-toggle="modal" data-bs-target="#modal--{{diaria.id}}"
                      class="pr-2 text-danger">

                      <i class="fas fa-solid fa-trash-can"></i>
                    </a>
                    <a href="{% url 'despesas:pdf-diaria' diaria.id %}">
                      <i class="fa-solid fa-print"></i>
                    </a>
                  </td>
                </tr>
                {% include 'diaria/modal_delete_diaria.html'%}
                {%endfor%}

              </tbody>
            </table>
            <br />
            {% include 'includes/paginacao.html'%}
          </div>
        </div>
      </div>
      {%else %}
      <hr>
      <h5 class="text-center pt-4">Nenhuma Diária encontrada.
      </h5>
      {%endif%}
    </div>
  </div>
</div>
{% include 'includes/modal_delete.html'%}
<!-- Button trigger modal -->
{% endblock content %} {% block scripts %}
<script src="/static/utils/validar_form.js/">

</script>
{% endblock scripts %}