{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <br /><br />
  {% include 'includes/mensagens.html'%}
  <div class="row mb-3">
    <div class="col-md-6">
      <h3 class="text-primary text-center"><strong>Diárias</strong></h3>
    </div>
    <div class="col-md-6">

      <div class="text-right">
        <a href="{% url 'despesas:add-diaria' %}" class="btn btn-primary"><b>Criar Diária</b>
        </a>
      </div>
    </div>

  </div>
  <div class="container">
    <div class="row ">
      <div>
        <form class="col-md-10  offset-md-2">
          <div class="row">
            <div class="col-md-10">
              <label for="text-search"><strong> Buscar por Nome/CPF</strong></label>
              <input type="search" class="form-control text-search" id="text-search">
              {% csrf_token %}
            </div>
          </div>
          <div class="row">

            <div class="col-md-3 mt-2">
              <label for="id_td_nascimento">Data de Nascimento:</label>
              <input type="date" class="form-control" id="id_td_nascimento">

            </div>
            <div class="col-md-7 mt-2">
              <label for="id_nome_mae">Nome da Mãe:</label>
              <input type="text" class="form-control" id="id_nome_mae">

            </div>
          </div>
          <div class="row">
            <div class="col-md-10 mt-3">
              <div class="float-right">
                <a class=" btn btn-info m-2"><i class="fa-solid fa-filter"></i> Filtros</a>
                <button type="submit" class=" btn btn-primary">Buscar</button>

              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="logo"><strong>Diárias</strong>

          </h3>

        </div>
        <!-- /.card-header -->
        <div class="table-responsive-md">
          <div class="card-body">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Nome Profissional</th>
                  <th>CPF</th>
                  <th>CNS</th>
                  <th>Opção</th>
                </tr>
              </thead>
              <tbody>
                {%for diaria in diarias %}
                <tr>
                  <td>{{diaria.id}}</td>
                  <td>{{diaria.profissional.nome_completo}}</td>

                  <td>{{diaria.profissional.formt_cpf}}</td>

                  <td>{{diaria.profissional.cns}}</td>
                  <td>

                    <a href="{% url 'despesas:detail-diaria' diaria.id%}" class="pr-1"><i
                        class="fas fa-solid fa-eye"></i></a>

                    <a href="{% url 'despesas:edit-diaria' diaria.id%}" class="pr-1 text-warning"><i
                        class="fas fa-edit"></i></a>

                    <a href="#modal--{{diaria.id}}" data-bs-toggle="modal" data-bs-target="#modal--{{diaria.id}}"
                      class="pr-2 text-danger">

                      <i class="fas fa-solid fa-trash-can"></i>
                    </a>
                  </td>
                </tr>
                {% include 'diaria/modal_delete_diaria.html'%}
                {%endfor%}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'includes/modal_delete.html'%}
<!-- Button trigger modal -->
{% endblock content %} {% block scripts %}

{% endblock scripts %}