{% extends 'relatorio.html' %}
{% load static %}
{% block title %}DIÁRIA{% endblock %}


{% block head%}
<style>
  body{

        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
      }
      td{
      padding-right: 8px;
      padding: 2px;
      text-align:center
      }
      th{
        padding: 8px;
        text-align: center;
      }
      table{

        font-size: 13px;
      }
</style>


{% endblock%}
{% block content %}
{% include  'includes/cabecalho.html' %}
<h2 class="text-center"> <b>DIÁRIA</b></h2>
<div class="bordas">
  <div class="row">
   
    <div class="col-md-5 m-2">
       
      <p class=" "><b>IDENTIFICAÇÃO: </b>{{diaria.profissional.nome_completo|upper}}

        &nbsp; &nbsp;&nbsp;&nbsp;
         &nbsp; &nbsp;&nbsp;&nbsp;
          &nbsp; &nbsp;&nbsp;&nbsp;
            &nbsp; &nbsp;&nbsp;&nbsp;
          &nbsp; &nbsp;&nbsp;&nbsp;
           &nbsp; &nbsp;&nbsp;&nbsp;
            &nbsp; &nbsp;&nbsp;&nbsp;
             &nbsp; &nbsp;&nbsp;&nbsp;
        <b>DATA: </b>{{diaria.data_diaria|date:"d/m/Y"|default:'---'}}
      </p>
      <p class="">
        <b>CPF: </b>{{diaria.profissional.formt_cpf}}
        &nbsp; &nbsp;&nbsp;&nbsp;
        <b>FONTE: </b>{{diaria.fonte}}
          &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
          <b>CONTA: </b>{{diaria.conta}}
           &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
          <b>REEMBOLSO: </b>{{diaria.get_reembolso_display}}
      </p>
    </div>
    
  </div>
 

  <div class="linha"></div>
  <p class="text-center m-1"><b>RELATÓRIO DESCREVENDO O OBJETO DA VIAGEM
      INCLUINDO
      PERÍODO</b></p>
  <div class="linha"></div>
  <div class="row">
    <div class="col-md-12 m-2">
      <p style="text-align: justify;">
        <b>DESCRIÇÃO: </b>{{diaria.descricao}}
      </p>
    </div>
  </div>
  {% if diaria.obs%}
  <div class="linha"></div>
  <div class="row">
    <div class="col-md-12">
      <p class="p-2">
        <b>OBSERVAÇÃO: </b>{{diaria.obs}}
      </p>

    </div>
  </div>
  {%endif%}
</div>

<table class="table-bordered">
  <thead>
    <tr>
      <th>ITENS</th>
      <th>DESCRICAO - DESPESAS</th>
      <th>VALOR</th>
      <th>QTA</th>
      <th>VALOR</th>
      <th>TOTAL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>01</td>
      <td>
        <p class="m-1 text-start">
         <b> Origem:</b> {{diaria.viagem_orig|upper}}
         
        </p>
         <p class="m-1 text-start"><b> Destino:</b> {{diaria.viagem_dest|upper}}</p>
      </td>
      <td>{{diaria.get_tipo_diaria_display}}</td>
      <td>{{diaria.qta_diaria}}</td>
      <td>{{diaria.valor}}</td>
      <td>{{diaria.total}}</td>
    </tr>
  </tbody>
</table>
<div class="bordas">
<p class="text-center pt-2 " ><b> APROVAÇÃO DA DESPESA</b></p>
<p class="m-0 p-2"><b>DATA: </b>{{diaria.data_diaria|date:"d/m/Y"|default:'---'}}</p>
<p class=" text-center m-0 ">______________________________________</p>
{%if diaria.status == '2'%}
<p class="text-center"><b>STATUS:</b>  {{diaria.get_status_display}}
{%elif diaria.status == '3' %}
<p class=""><b>STATUS:</b> {{diaria.get_status_display}}
{%endif%}
{%if diaria.aprovado_por %}
<p class="text-center"><b>{{diaria.aprovado_por|upper}}
<br>
SECRETÁRIO MUNICIPAL DE SAÚDE
</b> </p>
{%else%}
<p class="paragrafo title_center"> {{profissional.nome_completo|upper}}
<b>
SECRETÁRIO MUNICIPAL DE SAÚDE
</b> </p>
{%endif%}
</div>

<div class="bordas ">
<p class="text-center pt-2"><b> AUTORIZAÇÃO DA DESPESA</b></p>
<p class="m-0 p-2"><b>DATA: </b>{{diaria.data_diaria|date:"d/m/Y"|default:'---'}}</p>
<p class="text-center m-0">______________________________________</p>
{%if diaria.status == '2'%}
<p class="text-center"><b>STATUS:</b> {{diaria.get_status_display}}
{%elif diaria.status == '3' %}
<p class="text-center"><b>STATUS:</b> {{diaria.get_status_display}}
{%endif%}
{%if diaria.aprovado_por %}
<p class="text-center"><b>{{diaria.aprovado_por|upper}}
<br>
SECRETÁRIO MUNICIPAL DE SAÚDE
</b> </p>
{%else%}
<p class="text-center"> {{profissional.nome_completo|upper}}
<br><b>
SECRETÁRIO MUNICIPAL DE SAÚDE
</b> </p>
{%endif%}

</div>


<div>
  <br/>
  <p> Realizado por {{diaria.criado_por}} no dia {{diaria.updated_at|date:"d/m/Y"|default:'---'}} às {{diaria.created_at|time:"H:i"|default:'---'}}  </p>
</div>
{% endblock %}