{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">{% include 'includes/mensagens.html' %}</div>
  </div>

  <br /><br />
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <h4 class="text-primary"><strong>Relátorio de Transportes</strong></h4>
    </div>
  </div>

  <form method="POST" class="needs-validation" novalidate>
    {% csrf_token %} 
    <div class="row justify-content-center mt-3">
        <div class="col-md-3">{{form.data_inicial|as_crispy_field }}</div>
        <div class="col-md-3">{{form.data_final|as_crispy_field }}</div>
      </div>
    
   
    
    <div class="row justify-content-center">
      <div class="col-md-6 mt-2">
        <div class="text-right">
          <a href="{% url 'relatorios:relatorio-registro-transporte'%}" class="btn mr-2" style="background-color:#DADADA;"> Limpar
            Filtros</a>
          <button type="submit" class="btn btn-primary">Gerar Relatório</button>
        </div>
        
      </div>
    </div>
  </form>
</div>
{% endblock %} 



