{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">{% include 'includes/mensagens.html' %}</div>
  </div>

  <br /><br />
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <h4 class="text-primary"><strong>Relátorio de Viagens</strong></h4>
    </div>
  </div>

  <form method="POST" class="needs-validation" novalidate>
    {% csrf_token %} 
    <div class="row justify-content-center mt-3">
        <div class="col-md-3">{{form.data_inicial|as_crispy_field }}</div>
        <div class="col-md-3">{{form.data_final|as_crispy_field }}</div>
      </div>
      <div class="row justify-content-center mt-3">
        <div class="col-md-3">{{form.profissionais|as_crispy_field }}</div>
        <div class="col-md-3">{{form.status|as_crispy_field }}</div>
      </div>
   
    
    <div class="row justify-content-center">
      <div class="col-md-6 mt-2">
        <div class="text-right">
          <a href="{% url 'relatorios:relatorio-viagem'%}" class="btn mr-2" style="background-color:#DADADA;"> Limpar
            Filtros</a>
          <button type="submit" class="btn btn-primary">Gerar Relatório</button>
        </div>
        
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-md-12 mt-4">
        {% if viagens %}

        <div class="card">
            <div class="card-header">
                <h3 class="logo"><strong>Viagens</strong></h3>

            </div>
            <!-- /.card-header -->
            <div class="table-responsive-md">
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Carro</th>
                                <th>Placa</th>
                                <th>Destino</th>
                                <th>Motorista</th>
                                <th>Data Viagem</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            {%for viagem in viagens %}
                            <tr>
                                <td>{{viagem.carro.nome}}</td>
                                <td>{{viagem.carro.placa|upper}}</td>
                                <td>{{viagem.destino_viagem}}</td>
                                <td>{{viagem.motorista.nome_completo}}</td>
                                <td>{{viagem.data_viagem|date:"d/m/Y"|default:'---'}}</td>


                            </tr>
                           

                            {%endfor%}

                        </tbody>
                    </table>
                    <br>
                    {% include 'viagem/paginacao_viagem.html'%}
                </div>
            </div>
        </div>
        {% else %}
        <h5 class="text-center pt-4">Nenhuma Viagem foi encontrada.
        </h5>
        {%endif %}
    </div>
</div>
</div>
{% endblock %} 

{% block scripts %}

<script>
    document.getElementById('id_data_inicial').max = new Date(new Date().getTime() - new Date().getTimezoneOffset() * 60000).toISOString().split("T")[0];
    document.getElementById('id_data_final').max = new Date(new Date().getTime() - new Date().getTimezoneOffset() * 60000).toISOString().split("T")[0];

  
    
</script>
{% endblock %}  