{% extends 'relatorio.html' %}
{% load static %}
{% block title %}Relatorio{% endblock %}

{% block head%} 
<style>
      body{

        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
      }
      td{
      padding-right: 8px;
      padding: 8px;
     
      }
      th{
        padding: 8px;
        
      }
      table{

        font-size: 12px;
       
      }
     
    p{
      margin:0;
     }
    

</style>


{%endblock head%}
{% block content %}

{% include  'includes/cabecalho.html' %}
<div class="conteudo">
  <h3 class=" text-center"><b>Relatório de Viagens</b></h3>
 
    <div class="row">
      <div class="col-md-5">
        <p class="p-1 "><b>Período: </b>{{inicial}}   a {{final}}

        
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
         
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <b> Data do relatório:</b> {{data}}
       
            </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
          <p class="p-1">
            <b>Registros identificados: </b>{{qta_registro_viagens}}
           
        </p>
      </div>
    </div>
   
    <div class="row">
      <div class="col-md-3">
          <p class="p-1 ">
            <b>Quantidade passageiros transportados:</b> {{qta_pessoas_transportados}}            
        </p>
      </div>
    </div>
    {% if carro %}
    <div class="row">
      <div class="col-md-3">
          <p class="p-1">
            <b>Carro: </b> {{carro}}            
        </p>
      </div>
    </div>
    {% endif %}
      
  <div class="pt">
    <br>
    <table border=" 1">
      <thead>
        <tr>
          <th>Destino</th>
          <th>Motorista</th>
          {%if not carro %}
            <th>Carro</th>
            
          {% endif %}
          <th>Quant. passageiros</th>
          <th>Data da Viagem</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {%for v in viagens%}
        <tr>
         <td>{{v.destino_viagem|upper}}</td>
         <td>{{v.motorista.nome_completo}}</td>
         {%if not carro %}
         <td >{{v.carro}}</td>

         {% endif %}
         <td class="text-center">{{v.qta_pessoas}}</td>
         <td>{{v.data_viagem|date:"d/m/Y"|default:'---'}}</td>
         <td>{{v.get_status_display}}</td>
        </tr>
        
        {%endfor%}
      
      </tbody>
      
    </table>
  </div>
 


{% endblock %}