{% extends 'relatorio.html' %}
{% load static %}
{% block title %}Relatorio{% endblock %}

{% block head%} 
<style>
      body{

        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
      }
      td{
      padding-right: 8px;
      padding: 8px;
     
      }
      th{
        padding: 8px;
        
      }
      table{

        font-size: 12px;
       
      }
      .negrito{
        font-weight: bold;
      }
    

</style>


{%endblock head%}
{% block content %}

{% include  'includes/cabecalho.html' %}
<div class="conteudo">
  <h3 class=" title_center">Relatório de Viagens</h3>
 
    <div class="row">
      <div class="col-md-5">
        <p class="paragrafo "><b>Período: </b>{{inicial}}   a {{final}}

        
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
         
          
          <b> Data do relatório:</b> {{data}}
       
            </p>
      </div>
    </div>
    <div class="linha"></div>
    <div class="row">
      <div class="col-md-3">
          <p class="paragrafo ">
            <b>Registros identificados: </b>{{qta_registro_viagens}}
           
        </p>
      </div>
    </div>
   
    <div class="linha"></div>
    <div class="row">
      <div class="col-md-3">
          <p class="paragrafo ">
            <b>Quantidade passageiros transportados:</b> {{qta_pessoas_transportados}}            
        </p>
      </div>
    </div>
    <div class="linha"></div>
    <br>

    
      
      
  <div class="pt">
    <br>
    <table border=" 1">
      <thead>
        <tr>
          <th>Destino</th>
          <th>Motorista</th>
          <th>Carro</th>
          <th>Data da Viagem</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {%for v in viagens%}
        <tr>
         <td>{{v.destino_viagem|upper}}</td>
         <td>{{v.motorista.nome_completo}}</td>
         <td>{{v.carro}}</td>
         <td>{{v.data_viagem|date:"d/m/Y"|default:'---'}}</td>
         <td>{{v.get_status_display}}</td>
        </tr>
        
        {%endfor%}
      
      </tbody>
      
    </table>
  </div>
 


{% endblock %}