{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-fluid  ">

    {% include 'microarea/abas_microarea.html' %}
    <div class="row">
        <div class="col-md-12">
            {% include 'includes/mensagens.html'%}
        </div>
    </div>
    <br /> <br> <br>
    <div class="row  justify-content-center ">
        <div class="col-md-6">
            <h4 class="text-primary"><b>Microárea</b> </h4>
        </div>
        <br> <br>   
        <form method="POST" enctype="multipart/form-data" autocomplete="off" class="col-12 mt-2 needs-validation" novalidate>
            {% csrf_token %}
            <div class="row justify-content-center ">
                <div class="col-md-6">
                    {{ form|crispy }}
                </div>

            </div>
            <br>

            <div class="row justify-content-center">
                <div class="col-md-6 mb-2">
                    <div class="text-right">
                        <a href="{% url 'estabelecimentos:list-microarea'%}"
                            class="btn btn-outline-danger mr-2">Cancelar</a>
                        <button class="btn btn-primary ">Salvar</button>
                    </div>
                </div>

            </div>

        </form>

    </div>
</div>
</div>

{% endblock %}