{% extends 'base.html' %} {% load widget_tweaks %}

{% load crispy_forms_tags %}


{% block content %}


  {% include 'recibo_passagem_tfd/abas_recibo_passagem.html' %}

  <div class="col-12 m-2 pl-3">
    <h4 class=" text-primary"><b>Tratamento Fora do Domicílio-TFD</b> </h4>
  </div>
  <br>
  <form method="POST"   enctype="multipart/form-data" autocomplete="off" class="col-12 px-4" id="validar-form" novalidate>
    {% csrf_token %}
    <fieldset>
      <legend class="text-primary"><strong>Dados do Recibo de Passagem                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    </strong> </legend>
      <hr>
      <br>
        <div class="row mt-2">
            <div class="col-md-7">{{form.paciente|as_crispy_field }}</div>
              <div class="col-md-3">{{form.data_recibo|as_crispy_field }}</div>

            </div>
            <div class="row">
            
           
              <div class="col-md-3">{{form.codigo_sia_paciente|as_crispy_field }}</div>
              <div class="col-md-3">{{form.valor_paciente_sia|as_crispy_field}}</div>
              <div class="col-md-2">{{form.quant_passagem_paciente|as_crispy_field }}</div>
              <div class="col-md-4">
                <div class="form-check">
                  <br>
                
                <input class="form-check-input" val type="checkbox" id="ativar_campos" value="0">
                <label class="form-check-label" for="ativar_campos" >
                 <b> Tem Acompanhante</b>
                </label></div>
              </div>
            </div>
            <div class="d-none" id="campos">
        <div class="row mt-2 ">
        
          <div class="col-md-5">{{form.acompanhante|as_crispy_field }}</div>
          <div class="col-md-2">{{form.codigo_sia_acompanhante|as_crispy_field }}</div>
          <div class="col-md-2">{{form.valor_acompanhante_sia|as_crispy_field }}</div>
          <div class="col-md-3">{{form.quant_passagem_acompanhante|as_crispy_field }}</div>
        </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-5">{{form.trecho|as_crispy_field }}</div>
          <div class="col-md-3">{{form.meio_transporte|as_crispy_field }}</div>

        </div>
    </fieldset>

    


    <div class="row">
      <div class="col-md-12 mb-5">
        <div class="text-right">
          <a href="{% url 'tfds:list-recibo_passagem'%}" class="btn btn-outline-danger mr-2">Cancelar</a>
          <button id="submit" class="btn btn-primary">Salvar</button>
        </div>
      </div>
    </div>

  </form>


{% endblock content%}

{%block scripts %}

<script src='/static/utils/jquery.formset.js'></script>

<script>

$(document).ready(function () {
console.log('teste1000')
var checkbox_acompanhante = document.getElementById("ativar_campos");
var campos=document.getElementById('campos') ;
checkbox_acompanhante.addEventListener('change', ativarCampos);

function ativarCampos() {
  console.log('teste')
  if (checkbox_acompanhante.checked) {
        campos.classList.remove('d-none') 
      }
      else{
        campos.classList.add('d-none')
      }

 

}
});


{% comment %} 

 var validar_form=document.getElementById('#validar-form')

 validar_form.addEventListener('submit',function(){


let checkbox_acompanhante = document.getElementById("ativar_campos");
let acompanhante=document.getElementById('id_acompanhante');
let codigo_acompanhante=document.getElementById('id_codigo_sia_acompanhante');
let valor=document.getElementById('id_valor_acompanhante_sia');


    if(checkbox_acompanhante.checked)
    {
            acompanhante.required=true

            valor.required=true

            acompanhante.addClass('is-invalid');
            codigo_acompanhante.addClass('is-invalid');
            codigo_acompanhante.addClass('is-invalid');
            return false

            
    } 

});
 {% endcomment %}





</script>
{% endblock scripts %}