{% extends 'relatorio.html' %}
{% load static %}
{% block title %} RECIBO DE PASSAGEM DO TFD{% endblock %}
{% block content %}

{% include  'includes/cabecalho.html' %}

<h3 class="title_center"> DECLARAÇÃO DE RECEBIMENTO DE AUTORIZAÇÃO DE PASSAGEM</h3>
<div class="conteudo-tfd">
    <div class="bordas">
         <!-- PACIENTE -->
        
         <div class="row ">
            <div class="col-md-4">
                <p class="paragrafo tfd" ><b>NOME DO PACIENTE: </b>
                    <br>{{recibo_passagem.paciente.nome_completo|upper}}
                    &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                </p>
            </div>
            <div class="col-md-5">
                {% if recibo_passagem.paciente.rg %}
                <p class="paragrafo tfd">
                    <b>RG: </b><br>{{recibo_passagem.paciente.rg}}
                    &nbsp; &nbsp;&nbsp;&nbsp;
                </p>
                {%else%}
                <p class="paragrafo tfd">
                   
                    <b>RG: </b><br>-
                    &nbsp; &nbsp;&nbsp;&nbsp;
                    &nbsp; &nbsp;&nbsp;&nbsp;
                    &nbsp; &nbsp;&nbsp;&nbsp;

                    &nbsp; &nbsp;&nbsp;&nbsp;

                </p>
                {% endif%}
            </div>
            <div class="col-md-2">
                <p class="paragrafo tfd "><b>CPF: </b><br>{{recibo_passagem.paciente.formt_cpf}}
                    &nbsp; &nbsp;&nbsp;&nbsp;
                </p>
            </div>
            <div class="col-md-2">
                <p class="paragrafo tfd "><b>CNS: </b><br>{{recibo_passagem.paciente.cns}}
                   
                </p>
              
            </div>
    
        </div>

        <div class="linha"></div>
         <!-- ACOMPANHANTE  -->
         <div class="row">
            <div class="col-md-4">
                {%if recibo_passagem.acompanhante%}
                <p class="paragrafo tfd "><b>NOME DO ACOMPANHANTE: </b>
                    <br>{{recibo_passagem.acompanhante|upper}}
    
                    &nbsp; &nbsp;&nbsp;&nbsp;
                </p>
                {% else %}
                <p class="paragrafo tfd "><b>NOME DO ACOMPANHANTE: </b>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -
    
                    &nbsp; &nbsp;&nbsp;&nbsp;
                </p>
                {% endif %}
            </div>
            <div class="col-md-5">
    
                {% if recibo_passagem.rg %}
                <p class="paragrafo tfd">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>RG: </b><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{recibo_passagem.rg|upper}}
                </p>
                {%else %}
                <p class="paragrafo tfd">
                    &nbsp;  &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;  &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;
    
                    <b>RG: </b><br>  &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;  &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;  &nbsp; &nbsp;&nbsp;-
                
                </p>
                {%endif%}
            </div>
            <div class="col-md-2">
                {% if recibo_passagem.cpf  %}
                <p class="paragrafo  tfd">  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>CPF: </b><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;{{recibo_passagem.cpf|upper}}</p>
                {% else %}
                    <p class="paragrafo  tfd">  &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;  &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;
                        <b>CPF: </b><br>&nbsp; &nbsp;
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;  &nbsp; &nbsp;&nbsp;-</p>
                {% endif %}
                
            </div>
            <div class="col-md-2">
                {% if recibo_passagem.cns %}
                <p class="paragrafo tfd ">
                    <b>CNS: </b><br>{{recibo_passagem.cns|upper}}</p>
                {% else %}
                
                <p class="paragrafo tfd ">
                  &nbsp;&nbsp;  &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;  &nbsp; &nbsp;&nbsp;
    
                    <b>CNS: </b><br> &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;  &nbsp; &nbsp;&nbsp;
                                   &nbsp;&nbsp;  &nbsp; &nbsp;
                    -</p>
                {% endif %}
              
            </div>
    
        </div>
        <div class="linha"></div>

        <!-- MEIO DE TRANSPORTE -->
        <div>
            <br>
        <p style="text-align: center;" class="paragrafo"><b>MEIO DE TRANSPORTE</b></p>
            
        <div class="row">
            <div class="col-md-12">
                <p class="paragrafo tfd title_center">
                   {{recibo_passagem.get_meio_transporte_display}}
                </p>
            </div>
            
        </div>

        </div>
        <br>

        <table border=" 1" class="table-bordered table-tfd ">
       
            <thead>
            <tr>
                <th></th>
                <th>Ṇ° PASSAGEM</th>
                <th>TRECHO</th>
                <th>CODIGO SIA/SUS</th>
                <th>VALOR</th>
              
            </tr>
            </thead>
            <tbody>
          
                
            <tr>

                <td>PACIENTE</td>
                <td>{{recibo_passagem.quant_passagem_paciente}}</td>
                <td>{{recibo_passagem.trecho}}</td>
                <td>{{recibo_passagem.codigo_sia_paciente}}</td>
                <td>{{recibo_passagem.valor_paciente_sia}}</td>
                
               
    
            </tr>
                
            {% if recibo_passagem.quant_passagem_acompanhante and recibo_passagem.codigo_sia_acompanhante and recibo_passagem.valor_acompanhante_sia%}
            <tr>

                <td>ACOMPANHANTE</td>
                
                <td>{{recibo_passagem.quant_passagem_acompanhante}}</td>
                <td>{{recibo_passagem.trecho}}</td>
                <td>{{recibo_passagem.codigo_sia_acompanhante}}</td>
                <td>{{recibo_passagem.valor_acompanhante_sia}}</td>
                           
    
            </tr>
            {%endif%}
    
         
            
            </tbody>
            <tfoot>
            <tr>
                    <td colspan="4" style="text-align: end;"><b>
                        <p>TOTAL:</p>
                    </b> </td>
    
                    <td><b>
                        <p>R$ {{ recibo_passagem.valor_total_passagem}}</p>
                    </b> </td>
                </tr>
            </tfoot>
        </table>
        
        <div class="bordas">
            <p class="paragrafo title_center"><b> COMPROVANTE DE RECECIMENTO</b></p>
            <p class="paragrafo">
                     Declaro que recebi autorização de passagens da empresa____________________________________,<br> para viagem no dia ___/___/_____ .
                     
              </p>
              <p class="paragrafo">
                Afirmo ainda, que estou ciente de que ao retornar a este município de SANTO ANTÔNIO DO JACINTO, terei o prazo maximo de 03 (três) dias para entregar na Secretaria Municipal de Saúde o 
                 Relatorio de Atendimento, conforme Anexo II do Manual  de Procedimentos de TFD.

              </p>
              <br>
              <p class="title_center">___________________________________________________________</p>
              <p class="paragrafo title_center"><b>ASSINATURA DO PACIENTE OU RESPONSÁVEL LEGAL</b></p>
           
          </div>
    </div>
    <div>
        <br/>
        <p> Realizado por {{recibo_passagem.criado_por}} no dia {{recibo_passagem.updated_at|date:"d/m/Y"|default:'---'}} às {{recibo_passagem.updated_at|time:"H:i"|default:'---'}}  </p>
      </div>

</div>
    {% endblock content %}