{% extends 'relatorio.html' %}
{% load static %}
{% block title %} RECIBO DE PASSAGEM DO TFD{% endblock %}
{% block head%}
<style>
    body {

        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }

    td {

        padding: 2px;
        text-align: center
    }

    th {
        padding: 2px;
        text-align: center;
    }

    table {

        font-size: 13px;
    }

    p {
        margin: 0;
    }
</style>


{% endblock%}
{% block content %}

{% include  'includes/cabecalho.html' %}

<h3 class="text-center"> <b>DECLARAÇÃO DE RECEBIMENTO DE AUTORIZAÇÃO DE PASSAGEM</b></h3>
<div class="container-fluid">
    <div class="bordas">
         <!-- PACIENTE -->
         <div class="row ">
            <div class="col-md-6 p-2">
                <p><b>NOME DO PACIENTE: </b>
                   {{recibo_passagem.paciente.nome_completo|upper}}
                    &nbsp; &nbsp;
                </p>
               
                <p class="pt-1"><b>CPF: </b>{{recibo_passagem.paciente.formt_cpf|upper}}

                     &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                     <b>CNS: </b>{{recibo_passagem.paciente.cns|upper}}
                    &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                     {% if recibo_passagem.paciente.rg %}
                        <b>RG: </b>{{recibo_passagem.paciente.rg|upper}}
                     {%else%}
                         <b>RG: - </b>
                      {%endif%}
                </p>
            
            </div>
        <div class="linha"></div>
         <!-- ACOMPANHANTE  -->
         <div class="row">
            <div class="col-md-6 p-2">
                {%if recibo_passagem.acompanhante.nome_completo%}
                <p class="p-1"><b>NOME DO ACOMPANHANTE: </b>
                    {{recibo_passagem.acompanhante.nome_completo|upper}}
                </p>
                {% else %}
                <p class="p-1"><b>NOME DO ACOMPANHANTE: </b>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -
                </p>
                {% endif %}
                {% if recibo_passagem.acompanhante.cpf  %}
                <p class="p-1"><b>CPF: </b>{{recibo_passagem.acompanhante.cpf|upper}}
                {% else %}
                <p class="p-1"><b>CPF:</b>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -
                {% endif %}
                 {% if recibo_passagem.acompanhante.cns %}
                     &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                    <b>CNS: </b>{{recibo_passagem.acompanhante.cns|upper}}
                {% else %}
                    &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                     <b>CNS:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -</b>
                {% endif %}
                {% if recibo_passagem.acompanhante.rg %}
                    &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                   <b>RG:</b>{{recibo_passagem.acompanhante.rg|upper}}
                </p>
                {%else %}
                     &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                    <b>RG: </b>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-
                
                </p>
                {%endif%}
            </div>
           
    
        </div>
    </div>
        <div class="linha"></div>

        <div>

        <p class="text-center p-3"><b>MEIO DE TRANSPORTE</b></p>
            
        <div class="row">
            <div class="col-md-12 m-0">
                <p class="text-center">
                   {{recibo_passagem.get_meio_transporte_display}}
                </p>
            </div>
            
        </div>

        </div>
        <br>

        <table class="table">
       
            <thead>
            <tr>
                <th></th>
                <th>Ṇ° PASSAGEM</th>
                <th>TRECHO</th>
                <th>CÓD SIA/SUS</th>
                <th>VALOR</th>
              
            </tr>
            </thead>
            <tbody>
          
                
            <tr>

                <td>PACIENTE</td>
                <td>{{recibo_passagem.quant_passagem_paciente}}</td>
                <td>{{recibo_passagem.trecho}}</td>
                <td>{{recibo_passagem.codigo_sia_paciente}}</td>
                <td>{{recibo_passagem.valor_total_passagem}}</td>
                
               
    
            </tr>
                
            {% if recibo_passagem.quant_passagem_acompanhante and recibo_passagem.codigo_sia_acompanhante and recibo_passagem.valor_acompanhante_sia%}
            <tr>

                <td>ACOMPANHANTE</td>
                
                <td>{{recibo_passagem.quant_passagem_acompanhante}}</td>
                <td>{{recibo_passagem.trecho}}</td>
                <td>{{recibo_passagem.codigo_sia_acompanhante}}</td>
                <td>{{recibo_passagem.valor_total_passagem}}</td>
                           
    
            </tr>
            {%endif%}
    
         
            
            </tbody>
            <tfoot>
            <tr>
                     <td colspan="3" style="text-align: end;"><b>
                       
                    </b> </td>
                            
                    <td colspan="2" style="text-align: end;"><b>
                          TOTAL: &nbsp;&nbsp; R$ {{ recibo_passagem.total}}
                         </b>
                    </td>
                </tr>
            </tfoot>
        </table>
        
        <div class="bordas">
            <p class="text-center p-2"><b> COMPROVANTE DE RECEBIMENTO</b></p>
            <p class="text-start p-2">
                     Declaro que recebi autorização de passagens da empresa________________________________, para viagem no dia ___/___/_____ .
                     
              </p>
              <p style=" text-align: justify;" class="p-2">
                Afirmo ainda, que estou ciente de que ao retornar a este município de SANTO ANTÔNIO DO JACINTO, terei o prazo maximo de 03 (três) dias para entregar na Secretaria Municipal de Saúde o 
                 Relatorio de Atendimento, conforme Anexo II do Manual  de Procedimentos de TFD.

              </p>
              <br>
              <p class="text-center p-2">___________________________________________________________</p>
              <p class="text-center"><b>ASSINATURA DO PACIENTE OU RESPONSÁVEL LEGAL</b></p>
              <br>
           
          </div>
    </div>
    <div>
        <br/>
        <p> Realizado por {{recibo_passagem.criado_por}} no dia {{recibo_passagem.updated_at|date:"d/m/Y"|default:'---'}} às {{recibo_passagem.updated_at|time:"H:i"|default:'---'}}  </p>
      </div>

</div>
    {% endblock content %}