{% extends 'base.html' %} {% load bootstrap5 %}
{% block content %}
<div class="container-fluid">

  <div class="col-12 m-2 pl-3">
    <h4 class=" text-primary"><b>{{title}}</b> </h4>
  </div>

  <div class="col-12 pl-3">
    {% bootstrap_form_errors form %}
  </div>
  <div class="col-12 pl-3">
    {{formset.errors }}
  </div>
  
  <div class="row  justify-content-center ">

    <form method="POST" id="form-container" enctype="multipart/form-data" autocomplete="off" class="col-md-6">
      <fieldset>
        {% csrf_token %}
        <legend>{{form_title}}</legend>
       
        <div class="row">
          <div class="col-md-12"> {% bootstrap_field form.profissional %}</div>
          
        </div>
        {{formset.management_form}}
        <div class="row">
          <div class="col-md-12"> {% bootstrap_field form.profissional %}</div>
          
        </div>
        {% for form in formset %}
        <div class="bird-form">
         
          <div class="row">
            <div class="col-md-6">
              {% bootstrap_field form.descricao %}
            </div>
            
            <div class="col-md-3">
              {% bootstrap_field form.data_reembolso %}
            </div>
            <div class="col-md-3">
              {% bootstrap_field form.valor_desp %}
            </div>

          </div>
          <div class="row">
            <div class="col-md-6">
              {% bootstrap_field form.movimentacao %}
            </div>
            <div class="col-md-3">
              {% bootstrap_field form.valor_mov %}
            </div>
          </div>
        </div>
        {% endfor %}



      </fieldset>
     
      <button id="add-form" type="button" class="btn btn-primary">Adicionar mais Despesas</button>

         
      
      <div class="row">
        <div class="col-md-12 mb-5">
          <div class="text-right">
          <a href="% url 'despesas:list-diaria'%}" class="btn btn-outline-danger mr-2">Cancelar</a>
          <button class="btn btn-primary">Salvar</button>
        </div>
      </div>
      </div>
    </form>
  </div>
  <br /><br /><br />
</div>

{% endblock %}


{%block scripts %}

<script>

  
  $(document).ready(function () {

  });

  $(document).ready(function () {
    let selectDescricao = document.getElementById('id_form-0-descricao')
    let select2Movimentacao = document.getElementById('id_form-0-movimentacao')
    selectDescricao.classList.add('form-control')
    select2Movimentacao.classList.add('form-control')

   
   
 
  });

  let birdForm = document.querySelectorAll(".bird-form")
  let container = document.querySelector("#form-container")
  let addButton = document.querySelector('#add-form')


  let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

  let selectDescricao = document.getElementById('id_form-0-descricao')


  let formNum = birdForm.length - 1 //Get the number of the last form on the page with zero-based indexing
  addButton.addEventListener('click', addForm)

  function addForm(e) {
    e.preventDefault()

    let newForm = birdForm[0].cloneNode(true) //Clone the bird form
    let formRegex = RegExp(`form-(\\d){1}-`, 'g') //Regex to find all instances of the form number

    formNum++ //Increment the form number
    console.log('numero', formNum)

    
    $(document).ready(function () {
      var id=`#id_form-${formNum}-data_reembolso`
      console.log(id)
      $(id).mask('00/00/0000');

    });
  
    


    newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`) //Update the new form to have the correct form number
    container.insertBefore(newForm, addButton) //Insert the new form at the end of the list of forms

    totalForms.setAttribute('value', `${formNum + 1}`) //Increment the number of total forms in the form management
  }
</script>
{% endblock scripts %}
