{% extends 'relatorio.html' %}
{% load static %}
{% block title %}REEMBOLSO{% endblock %}
{% load humanize %}



{% block head%}
<style>
  body{

        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
      }
      td{
      padding-right: 8px;
      padding: 3px;
      text-align:center
      }
      th{
        padding: 6px;
        text-align: center;
      }
      table{

        font-size: 12px;
      }
</style>


{% endblock%}
{% block content %}

{% include  'includes/cabecalho.html' %}

<div class="conteudo">
  <h2 class=" text-center"><b>REEMBOLSO</b></h2>
  <div class="bordas">
  <div class="row">
   
    <div class="col-md-5 m-2">
       <br>
      <p class=" "><b>IDENTIFICAÇÃO: </b>{{diaria.profissional.nome_completo|upper}}

        &nbsp; &nbsp;&nbsp;&nbsp;
         &nbsp; &nbsp;&nbsp;&nbsp;
          &nbsp; &nbsp;&nbsp;&nbsp;
            &nbsp; &nbsp;&nbsp;&nbsp;
          &nbsp; &nbsp;&nbsp;&nbsp;
           &nbsp; &nbsp;&nbsp;&nbsp;
            &nbsp; &nbsp;&nbsp;&nbsp;
             &nbsp; &nbsp;&nbsp;&nbsp;
        <b>DATA: </b>{{diaria.data_diaria|date:"d/m/Y"|default:'---'}}
      </p>
      <p class="mt-2">
        <b>CPF: </b>{{diaria.profissional.formt_cpf}}
        &nbsp; &nbsp;&nbsp;&nbsp;
        <b>FONTE: </b>{{diaria.form_fonte}}
          &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
          <b>CONTA: </b>{{diaria.form_conta}}
           &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
          <b>REEMBOLSO: </b>{{diaria.get_reembolso_display}}
      </p>
    </div>
  
  </div>
 

  <div class="linha"></div>
  <p class="text-center mt-3"><b>RELATÓRIO DESCREVENDO O OBJETO DA VIAGEM
      INCLUINDO
      PERÍODO</b></p>
  <div class="linha"></div>
  <div class="row">
    <div class="col-md-12 p-2">
      <p  style="text-align: justify;">
        <b>DESCRIÇÃO: </b>{{diaria.descricao}} {{diaria.descricao_reembolso}}
      </p>
    </div>
  </div>
  
</div>


  <div class="pt">
    <table border=" 1" class="table-bordered ">
      <thead>
        <tr>
          <th class="title_center">ITENS</th>
          <th>DESCRICAO DAS DESPESAS</th>
          <th>VALORES</th>
        </tr>
      </thead>
      <tbody>
        {% for r in reembolsos %}
        <tr>

          <td class="text-center">{{ forloop.counter }} </td>

          {% if r.descricao %}
          <td>{{r.descricao|upper}} 
            {%if r.obs%}
             - {{r.obs|upper}}
            {%endif%}
          </td>
          {% else %}
          <td class="text-center">
            -
          </td>
          {%endif%}
          {%if r.valor_desp %}
          <td style="text-align: end; ">R$ {{r.valor_desp}}
          </td>
          {%else%}
          <td>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp;-

          </td>

          {%endif%}


        </tr>

        {%endfor%}
      </tbody>
            <tfoot>
              <tr>
                <td colspan="2" style="text-align: end;"><b>
                    <p>Total:</p>
                  </b> </td>

                <td style="text-align: end;"><b>
                    <p>R$ {{ diaria.total_desp|intcomma}}</p>
                  </b> </td>
            </tfoot>
    </table>
  </div>
  
      

  
<div class="bordas ">
<p class="text-center pt-2"><b> AUTORIZAÇÃO DA DESPESA</b></p>
<p class="m-0 p-2"><b>DATA: </b>
  
  {%if diaria.data_ult_nota_reembolso %}
    {{diaria.data_ult_nota_reembolso|date:"d/m/Y"|default:'---'}}
  
  {%else%}
       {{diaria.data_diaria|date:"d/m/Y"|default:'---'}}
  {%endif%}
  </p>
<p class="text-center m-0">______________________________________</p>
{%if diaria.status == '2'%}
<p class="text-center"><b>STATUS:</b> {{diaria.get_status_display}}
{%elif diaria.status == '3' %}
<p class="text-center"><b>STATUS:</b> {{diaria.get_status_display}}
{%endif%}
{%if diaria.aprovado_por %}
<p class="text-center"><b>{{diaria.aprovado_por|upper}}
<br>
SECRETÁRIO MUNICIPAL DE SAÚDE
</b> </p>
{%else%}
<p class="text-center"> {{profissional.nome_completo|upper}}
<br><b>
SECRETÁRIO MUNICIPAL DE SAÚDE
</b> </p>
{%endif%}

</div>
  <div class="bordas">
    <p class="text-center pt-2"><b> COMPROVANTE DE RECEBIMENTO</b></p>
    <p class="m-0 p-2"><b>DATA: </b> </p>
    <p class="m-2" style="text-align: justify;" >

      <b>
        Recebi o valor da importância acima a título de diária para despesas de viagem a serviço da Secretaria
        Municipal de Saúde, no qual dou plena e total quitação.
      </b>
      
    </p>
  
    <p class="text-center mt-3">______________________________________</p>
    <p class="text-center"><b>{{diaria.profissional.nome_completo}}</b></p>
  </div>

<div>
  <br/>
  <p> Realizado por {{diaria.criado_por}} no dia {{diaria.created_at|date:"d/m/Y"|default:'---'}} às {{diaria.created_at|time:"H:i"|default:'---'}}  </p>
</div>

{% endblock %}