{% extends 'base.html' %} {% load bootstrap5 %} {% block content %}
{% include 'carro/abas_carro.html' %}

    {% include 'includes/mensagens.html'%}
<div class="descricaoiner-fluid">
    <br />

    <div class="row m-2">

        <div class="col-md-12">
            <div class="text-right">
                <a href="{% url 'transportes:edit-carro' carro.id %}" class="btn btn-primary"><b>Editar Carro
                </a>
            </div>
        </div>

    </div>

    <div class="col-md-12 px-4">
        <br />
        <div class="row">
            <div class=" col-md-6">
                <h4 class=" text-primary"><strong>Detalhe do Carro</strong> </h4>

            </div>
        </div>

        <br />


        <div class="row">
            <div class="col-md-6">
                <label for="id_carro" class="form-label">Carro</label>
                <h6 class="text-muted">{{carro.nome|upper}}</h6>

            </div>
            <div class="col-md-6">
                <label for="id_placa" class="form-label">Placa do Carro:</label>
                <h6 class="text-muted">{{carro.placa|upper}}</h6>

            </div>
          
            
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label for="id_carro" class="form-label">Foto:</label>
                <h6 class="text-muted"> <img src="{{carro.foto.url}}" alt="foto do carro" width="300px" height="200px"> </h6>

            </div>
            
         
        </div>
        <br>
     
    </div>
</div>
{% endblock content %}