{% extends 'relatorio.html' %}
{% load static %}
{% block title %}Relatorio{% endblock %}

{% block head%} 
<style>
    @page {
      size: "A4";
      margin: 0.35cm 1.5cm 3.5cm 1.5cm;
      size: A4 landscape; 
    }
      body{

        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
      }
      .subtitulo{
        font-size: 12px;
      }
      td{
      padding-right: 8px;
      padding: 2px;
      text-align:center
      }
      th{
        padding: 8px;
        text-align: center;
      }
      table{

        font-size: 12px;
      }
      
      .header {
            position: relative; /* Contêiner de referência para a imagem */
            width: 100%;
            height: 100px; /* Altura do cabeçalho */
        }
        .minha-imagem {
            position: absolute; /* Posição absoluta em relação ao .header */
            top: 2px;
            left: 100px;
            bottom: 0px;
            width: 800px; /* Largura da imagem */
        }
    

</style>


{%endblock head%}
{% block content %}

{% include  'includes/cabecalho_especialidade.html' %}

  <h3 class="text-center pt-2"><b>Relatório de Pacientes na Especialidade</b></h3>
  <br/>
      <div class="col-md-3">
        <p class="m-1";>
          <b>Especialidade: </b>{{especialidade}}
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
          <b>Data: </b>{{data}} 
     
    </div>
    <div class="linha"></div>
      <div class="col-md-3">
          <p class="m-1";>
            <b>Quantidade de Pacientes: </b>{{qta_pacienteespecialidade}}
            
        </p>
      </div>
     
      <div class="linha"></div>
  <br/> 
  <div class="pt">
    
    <table class="table" border=" 1">
      <thead>
        <tr>
          <th>Itens</th>
          <th>Paciente</th>
          <th>ACS</th>
          <th>Procedimento</th>
            <th>
             Observação
            </th>
          
            <th>
              Classificação
            </th>
           
           
            <th>
              Status
            </th>
            
            <th>Data do Pedido</th>
         
        </tr>
      </thead>
      <tbody>
        {% for p in pacientes_especialidade %}
        
        <tr>

          <td>{{ forloop.counter }}</td>
          <td>{{p.paciente.nome_completo|upper}}</td>
          <td>{{p.paciente.microarea.profissional.acs|upper}}</td>
          <td>{{p.procedimento}}</td>
             {% if p.observacao%}
            <td>
              {{p.observacao}}
            </td>
            {%else%}
            <td>-</td>
            {% endif %}
            <td>
              {{ p.get_classificacao_display }}
            </td>

            
            <td>
              {{ p.get_status_display }}
            </td>
            
           <td>{{p.data_pedido|date:"d/m/Y"|default:'---'}}</td>
                  
        </tr>
        {%endfor%}
      </tbody>
      
    </table>
  </div>
 


{% endblock %}