{% extends 'relatorio.html' %}
{% load static %}
{% block title %}Relatorio{% endblock %}

{% block head%} 
<style>
      body{

        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
      }
      .subtitulo{
        font-size: 12px;
      }
      td{
      padding-right: 8px;
      padding: 4px;
      text-align:center
      }
      th{
        padding: 8px;
        text-align: center;
      }
      table{

        font-size: 12px;
      }
    

</style>


{%endblock head%}
{% block content %}

{% include  'includes/cabecalho.html' %}
<div>

  <p class="subtitulo"><b>Filtros:</b>
    
      {% if especialidade%}
          Especialidade
      {% endif %}

      {% if profissional%}
        , Profissional
      {% endif %}

      {% if  tipo_atendimento%}
          , Tipo de Atendimento
      {% endif %}

      {% if  classificacao%}
          , Classificação
      {% endif %}

</p>
</div>
<div class="conteudo">


  <h3 class=" title_center">Relatório de Pacientes na Especialidade</h3>
  <br/>
      <div class="col-md-3">
        <p class="paragrafo";>
          <b>Especialidade: </b>{{especialidade}}
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
          <b>Data: {{data}}</b> 
     
    </div>
    <div class="linha"></div>
      <div class="col-md-3">
          <p class="paragrafo";>
            <b>Quantidade de Pacientes: </b>{{qta_pacienteespecialidade}}
            
        </p>
      </div>
     
      <div class="linha"></div>
  <br/> 
  <div class="pt">
    
    <table border=" 1">
      <thead>
        <tr>
          <th>Itens</th>
          <th>Paciente</th>
          <th>ACS</th>
            {% if  tipo_atendimento%}
            <th>
              Tipo de Atendimento
            </th>
            {% endif %}
            {% if  classificacao%}
            <th>
              Classificação
            </th>
            {% endif %}
            {% if  status%}
            <th>
              Status
            </th>
            {% endif %}
            <th>Data do Pedido</th>
         
        </tr>
      </thead>
      <tbody>
        {% for p in pacientes_especialidade %}
        
        <tr>

          <td>{{ forloop.counter }}</td>
          <td>{{p.paciente.nome_completo|upper}}</td>
          <td>{{p.profissional.nome_completo|upper}}</td>
            {% if  tipo_atendimento%}
            <td>
              {{p.get_tipo_atendimento_display}}
            </td>
            {% endif %}
            {% if classificacao%}
            <td>
              {{ p.get_classificacao_display }}
            </td>
            {% endif %}
            {% if status%}
            <td>
              {{ p.get_status_display }}
            </td>
            {% endif %}
           <td>{{p.data_pedido|date:"d/m/Y"|default:'---'}}</td>
                  
        </tr>
        {%endfor%}
      </tbody>
      
    </table>
  </div>
 
</div>

{% endblock %}