<div class="container">
    <div class="row ">

      <form class="col-md-10  offset-md-2 needs-validation" action="{% url 'despesas:list-reembolso'%}" method="GET"
        id="validar-form">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-10">
            <div class="alert alert-danger d-none" role="alert">
              Insira algum filtro para realizar a busca.
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-10">
            <label for="search_nome_cpf"><strong> Busque por Nome/CPF</strong></label>
            <input type="search" name="search_nome_cpf" class="form-control" value="{{request.GET.search_nome_cpf}}"
              id="search_nome_cpf">

          </div>
        </div>
        <div class="row">

          <div class="col-md-3 mt-2">
            <label for="id_data">Data</label>
            <input type="date" name="data" class="form-control" id="id_data" value="{{request.GET.data}}">
          </div>
          <!--   <div class="col-md-3 mt-2">
              <label for="id_data_final">Data Final:</label>
              <input type="date" class="form-control" name='data_final' id="id_data_final"
                value="{{request.GET.data_final}}">

            </div> -->
        </div>
        <div class="row">
          <div class="col-md-10 mt-3">
            <div class="float-right">
              <a class="btn mr-2" href="{% url 'despesas:list-reembolso'%}" style="background-color:#DADADA;"> Limpar
                Filtros</a>
              <button type="submit" class=" btn btn-primary ">Buscar</button>

            </div>

          </div>

        </div>

      </form>

    </div>
    <br>
  </div>
</div>