<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" id="modal--{{modal_objeto_id}}">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="staticBackdropLabel">
          Você tem certeza que deseja excluir o {{modal_title}}           
        </h6>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <p class="logo m-3">{{form_objeto_name}}</p>
        </div>
      </div>
      <div class="modal-footer">
        <form method="POST" action="{{form_action}}" id="id_form">
          <button
            type="button"
            class="btn btn-outline-danger"
            data-bs-dismiss="modal"
          >
            NÃO
          </button>

          {% csrf_token %}
          <button type="submit" class="btn btn-primary">SIM</button>
        </form>
      </div>
    </div>
  </div>
</div>
