{% load permission_tags %}

<aside class="main-sidebar  sidebar-menu elevation-6">

  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'core:home'%}">
      <img src="/static/img/LOGOSAJA.png" alt="Logo" width="200" height="90" class="d-inline-block ">
      {% comment %}<span class="brand-text  logo pl-3 "> <b> SGDTV</b> {% endcomment %}
    </a>
  </div>


  <!-- Sidebar -->
  <div class="sidebar">

    <nav class="mt-2">
      <hr>
      <ul class="nav nav-pills nav-sidebar nav-child-indent flex-column" data-widget="treeview" role="menu"
        data-accordion="false">

        <!-- DESPESAS -->
        {% if user|has_role:'digitador,coordenador,secretario' %}
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="  nav-icon fas fa-copy text-primary "></i>
            <p class="text-md text-muted">
              Despesas
              <i class="right fas fa-angle-right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview ">
            <li class="nav-item">
              <a href="{% url 'despesas:list-diaria'%}" class="nav-link link-houver">

                <p class="text-sm text-muted">Diárias </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'despesas:list-reembolso'%}" class="nav-link link-houver">

                <p class="text-sm text-muted">Reembolsos</p>
              </a>
            </li>
               <li class="nav-item">
              <a href="{% url 'despesas:list-descricao-reembolso'%}" class="nav-link link-houver">

                <p class="text-sm text-muted">Descrição de Reembolso</p>
              </a>
            </li>

          </ul>
        </li>
        {%endif%}

        <!-- ESPECIALIDADES -->
        {% if user|has_role:'regulacao,secretario,recepcao,coordenador,acs' %}
        <li class="nav-item">
          <a href="#" class="nav-link ">
            <i class="text-primary nav-icon fas fa fa-user-md" aria-hidden="true"></i>

            <p class="text-md text-muted">
              Especialidades
              <i class="right fas fa-angle-right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview ">
            <li class="nav-item">
              <a href="{% url 'especialidades:list-atend_especialidade'%}" class="nav-link link-houver">

                <p class=" text-sm text-muted">Atendimentos</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="{% url 'especialidades:list-especialidade'%}" class="nav-link link-houver">

                <p class=" text-sm text-muted">Especialidades</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'especialidades:list-proced_especialidade'%}" class="nav-link link-houver">

                <p class=" text-sm text-muted">Procedimentos</p>
              </a>
            </li>
             <li class="nav-item">
              <a href="{% url 'especialidades:buscar-paciente-especialidade'%}" class="nav-link link-houver">

                <p class=" text-sm text-muted">Buscar paciente especialidade</p>
              </a>
            </li>


          </ul>
        </li>
        {%endif%}

        <!-- ESTABELECIMENTOS -->
        {% if user|has_role:'coordenador,secretario' %}
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="text-primary  nav-icon fas fa-hospital"></i>

            <p class="text-md text-muted">
              Estabelecimentos
              <i class="right fas fa-angle-right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview ">
            <li class="nav-item">
              <a href="{% url 'estabelecimentos:list-estabelecimento'%}" class="nav-link link-houver">

                <p class="text-sm text-muted"> Estabelecimentos</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'estabelecimentos:list-microarea'%}" class="nav-link link-houver">

                <p class=" text-sm text-muted">Microáreas </p>
              </a>
            </li>

          </ul>
        </li>
        {%endif%}

        <!-- CIDADAO -->
        {% if user|has_role:'secretario,coordenador,tfd,recepcao,regulacao,acs,digitador' %}
        <li class="nav-item">
           <a href="{% url 'cidadao:list-cidadao'%}" class="nav-link link-houver">

            <i class=" text-primary  nav-icon fas fa-solid fa-user"></i>
            <p class="text-md text-muted">
              Cidadão
            </p>
          </a>
        
        </li>
        {%endif%}

        <!-- PROFISSIONAIS -->
        {% if user|has_role:'coordenador,digitador,secretario' %}
        <li class="nav-item">
           <a href="{% url 'profissionais:list-profissional'%}" class="nav-link link-houver">
            <i class=" text-primary nav-icon fas fa-solid fa-user-tie"></i>
            <p class="text-md text-muted">
              Profissionais
            </p>
          </a>
          
        </li>
        {%endif%}

        <!-- RELATORIOS -->
        {% if user|has_role:'coordenador,regulacao,digitador,recepcao,secretario' %}
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class=" nav-icon fas fa-copy text-primary"></i>
            <p class="text-md text-muted">
              Relatorios
              <i class="right fas fa-angle-right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview ">
             {% if user|has_role:'coordenador' %}
            <li class="nav-item">
              <a href="{% url 'relatorios:relatorio-cadastro-cidadao'%}" class="nav-link link-houver">

                <p class="text-sm text-muted"> Cadastro incompleto</p>
              </a>
            </li>
             {%endif%}
            {% if user|has_role:'coordenador,digitador,secretario' %}

            <li class="nav-item">
              <a href="{% url 'relatorios:relatorio-diaria'%}" class="nav-link link-houver">

                <p class="text-sm text-muted"> Diária</p>
              </a>
            </li>
            {%endif%}
            {% if user|has_role:'coordenador,recepcao,regulacao,secretario' %}
            <li class="nav-item">
              <a href="#" class="nav-link">

                <p class="text-sm text-muted">
                  Especialidades
                  <i class="right fas fa-angle-right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview ">

                <li class="nav-item">

                  <a href="{% url 'relatorios:relatorio-atendimento-especialidade'%}" class="nav-link link-houver">

                    <p class=" text-sm text-muted">Atendimento Especialidade </p>
                  </a>
                </li>
                <li class="nav-item">

                  <a href="{% url 'relatorios:relatorio-especialidade'%}" target="_blank" class="nav-link link-houver">

                    <p class=" text-sm text-muted">Especialidades </p>
                  </a>
                </li>
                <li class="nav-item">

                  <a href="{% url 'relatorios:relatorio-paciente-especialidade'%}" class="nav-link link-houver">

                    <p class=" text-sm text-muted">Pacientes </p>
                  </a>
                </li>
                 <li class="nav-item">

                  <a href="{% url 'relatorios:relatorio_procedimentos'%}" class="nav-link link-houver">

                    <p class=" text-sm text-muted">Procedimentos </p>
                  </a>
                </li>
             
              </ul>
            </li>
            {%endif%}
            {% if user|has_role:'coordenador,tfd,secretario' %}
            <li class="nav-item">
              <a href="#" class="nav-link">

                <p class="text-sm text-muted">
                  TFDs
                  <i class="right fas fa-angle-right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview ">
                <li class="nav-item">

                  <a href="{% url 'relatorios:relatorio-recibo-tfd'%}" class="nav-link link-houver">

                    <p class=" text-sm text-muted">Recibo de TFD </p>
                  </a>
                </li>
                <li class="nav-item">

                  <a href="{% url 'relatorios:relatorio-recibo-passagem'%}" class="nav-link link-houver">

                    <p class=" text-sm text-muted">Recibo de Passagem </p>
                  </a>
                </li>
              </ul>
            </li>
            {%endif%}
            {% if user|has_role:'coordenador,regulacao,secretario' %}
            <li class="nav-item">
              <a href="#" class="nav-link">

                <p class="text-sm text-muted">
                  Transportes
                  <i class="right fas fa-angle-right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview ">
                <li class="nav-item">

                  <a href="{% url 'relatorios:relatorio-registro-transporte'%}"
                    class="nav-link link-houver">
                    <p class=" text-sm text-muted">Registro Transporte</p>
                  </a>
                </li>
                
                <li class="nav-item">

                  <a href="{% url 'relatorios:relatorio-viagem'%}" class="nav-link link-houver">

                    <p class=" text-sm text-muted">Viagens </p>
                  </a>
                </li>
                
              </ul>
            </li>
            {%endif%}
          </ul>
        </li>
        {%endif%}

        <!-- TFDs -->
        {% if user|has_role:'coordenador,tfd,secretario' %}
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class=" text-primary nav-icon fas fa-copy"></i>
            <p class="text-md text-muted">
              TFDs
              <i class="right fas fa-angle-right"></i>
            </p>
          </a>
          <ul class="nav  nav-treeview">


            <li class="nav-item">
              <a href="{% url 'tfds:list-recibo_tfd'%}" class="nav-link link-houver">

                <p class="text-sm text-muted"> Recibos de TFDs </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'tfds:list-recibo_passagem'%}" class="nav-link link-houver">

                <p class="text-sm text-muted"> Recibos de Passagens</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'tfds:list-procedimento'%}" class="nav-link link-houver">

                <p class="text-sm nav-child-indent text-muted"> Procedimentos</p>
              </a>
            </li>

          </ul>
        </li>
        {%endif%}

        <!-- USUARIOS -->
        {% if user|has_role:'coordenador' %}
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class=" text-primary nav-icon fas fa-thin fa-users"></i>

            <p class="text-md text-muted">
              Usuários
              <i class="right fas fa-angle-right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview ">

            <li class="nav-item">
              <a href="{% url 'usuarios:list-usuario'%}" class="nav-link link-houver">

                <p class="text-sm text-muted">Listar Usuários </p>
              </a>
            </li>

          </ul>
        </li>
        {%endif%}
        <!-- TRANSPORTES -->
        {% if user|has_role:'coordenador,acs,regulacao,recepcao,digitador,secretario' %}
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class=" text-primary nav-icon fas a-sharp fa-solid fa-car"></i>
            <p class="text-md  text-muted ">
              Transportes
              <i class="right fas fa-angle-right"></i>
            </p>
          </a>

          <ul class="nav nav-treeview ">
            {% if user|has_role:'coordenador,regulacao,secretario' %}
            <li class="nav-item">
              <a href="{% url 'transportes:list-destino'%}" class="nav-link">

                <p class="text-sm text-muted"> Destino de Viagens</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'transportes:list-regis-transporte'%}" class="nav-link">

                <p class="text-sm text-muted"> Registro de Transportes</p>
              </a>
            </li>
            {%endif%}
            <li class="nav-item">
              <a href="{% url 'transportes:list-viagem'%}" class="nav-link link-houver">

                <p class="text-sm text-muted"> Viagens</p>
              </a>
            </li>
             <li class="nav-item">

                  <a href="{% url 'transportes:buscar-paciente-viagem'%}" class="nav-link link-houver">

                    <p class=" text-sm text-muted">Buscar paciente na Viagem </p>
                  </a>
                </li>
            {% if user|has_role:'coordenador,regulacao,secretario,digitador' %}
            <li class="nav-item">
              <a href="{% url 'transportes:list-carro'%}" class="nav-link link-houver">

                <p class="text-sm text-muted">Carros </p>
              </a>
            </li>
            {%endif%}

          
          </ul>
        </li>
        {%endif%}
        {% comment %}
          <li class="nav-item">
              <a href="#" class="nav-link">
                <i class=" text-primary nav-icon fas fa-thin fa-users"></i>

                <p class="text-md text-muted">
                  Dados
                  <i class="right fas fa-angle-right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview ">

                <li class="nav-item">
                  <a href="{% url 'transportes:importar-dados-transporte'%}" class="nav-link link-houver">

                    <p class="text-sm text-muted">Importa dados Transporte</p>
                  </a>
                </li>
                 <li class="nav-item">
                  <a href="{% url 'cidadao:importar-dados-cidadao'%}" class="nav-link link-houver">
                    <p class="text-sm text-muted">Importa dados Cidadaos</p>
                  </a>
                </li>
              </ul>
               
            </li>
            {% endcomment %}

     
            </ul>
    
            </nav>
    <!-- /.sidebar-menu -->
  </div>

</aside>