{% extends 'base.html' %}
{% block title%}Detalhe paciente Especialidade {%endblock title%}


{% load permission_tags %}
{% block content %}

<div class="container-fluid">
    {% include 'paciente_especialidade/abas_paciente_especialidade.html' %}

    {% if user|has_role:'recepcao,regulacao' %}

    <div class="row">
        <div class="col-md-12">
            <div class="text-right">
                <a href="{% url 'especialidades:edit-paciente-especialidade' paciente_especialidade.id %}"
                    class="btn btn-primary"><b>Editar Informação </b> </a>
            </div>
        </div>
    </div>
    {%endif%}


    <br />

    <div class="col-md-12 px-4">
        <h4 class=" text-primary"><strong>{{paciente_especialidade.especialidade|upper}} </strong></h4>
        <br>
        <fieldset>
            <legend class="text-primary"><strong> Dados do Paciente</strong></legend>
            <hr>

            <div class="row">
                <div class="col-md-4">
                    <label for="id_paciente" class="form-label">Nome Completo: </label>
                    <h6 class="text-muted">{{paciente_especialidade.paciente.nome_completo}}</h6>
                </div>
                <div class="col-md-4">
                    <label for="id_email" class="form-label">ACS:</label>
                    <h6 id='email' class="text-muted">{{paciente_especialidade.paciente.microarea.profissional.acs}}</h6>
                </div>
                <div class="col-md-4">
                    <label for="id_estabelecimento" class="form-label">Estabelecimento:</label>
                    <h6 id='email' class="text-muted">{{paciente_especialidade.paciente.microarea.estabelecimento}}</h6>
                </div>
            </div>

    

            <div class="row mt-3">
                <div class="col-md-3">
                    <label for="id_rg" class="form-label">Data Pedido:</label>
                    <h6 id='rg' class="text-muted">{{paciente_especialidade.data_pedido|date:"d/m/Y"|default:'---'}}</h6>
                </div>
                <div class="col-md-3">
                    <label for="id_cpf" class="form-label">Classificação:</label>
                    <h6 id='cpf' class="text-muted">{{paciente_especialidade.get_classificacao_display}}</h6>
                </div>
                <div class="col-md-3">
                    <label for="id_sus" class="form-label">Procedimento:</label>
                    <h6 class="text-muted">{{paciente_especialidade.procedimento}}</h6>
                </div>
                <div class="col-md-3">
                    <label for="id_sexo" class="form-label">Status:</label>
                    <h6 class="text-muted">{{paciente_especialidade.get_status_display}}</h6>
                </div>

            </div>
            <br />

            <div class="row">
                <div class="col-md-6">
                    <label for="id_nome_mae" class="form-label">Observação:</label>
                    <h6 class="text-muted"> {{paciente_especialidade.observacao}}</h6>
                </div>

            </div>
            <br />

        </fieldset>
         <div class="row">
                        <div class="col-md-6">
                             <label for="id_carro" class="form-label">Criado Por:</label>
                             {%if paciente_especialidade.criado_por%}
                                 <h6 class="text-muted">{{paciente_especialidade.criado_por|upper}} -
                                     {{paciente_especialidade.created_at|date:"d/m/Y"|default:'---'}} às
                                            {{paciente_especialidade.created_at|time:"H:i"|default:'---'}}

                                 </h6>
                              {%else%}
                                 <h6 class="text-muted">-</h6>
                             {%endif%}
                        </div>
                        <div class="col-md-6">
                                <label for="id_carro" class="form-label">Ultima alteração realizado por :</label>
                                {%if paciente_especialidade.alterado_por%}
                                        <h6 class="text-muted">{{paciente_especialidade.alterado_por|upper}} - 
                                            {{paciente_especialidade.updated_at|date:"d/m/Y"|default:'---'}} às
                                            {{paciente_especialidade.updated_at|time:"H:i"|default:'---'}}
                                           </h6>
                                {%else%}
                                    <h6 class="text-muted">-</h6>
                                {%endif%}
                         </div>
                    </div>
        <div class="row">
            <div class="col-md-12 mb-5">
                <a href="{% url 'especialidades:detail-especialidade'  especialidade.id%}" class="btn btn-outline-primary mr-2">Voltar</a>
                               
            </div>
          </div>
    </div>

    <br />
</div>

{% endblock %}

{%block scripts %}

{%endblock scripts%}