{% extends 'base.html' %} {% block content %}
<div class="container-fluid">

  {% include 'usuario/abas_usuario.html' %}
  <div class="row">
    <div class="col-md-12">
        {% include 'includes/mensagens.html'%}
    </div>
</div>
  <div class="row">

    <div class="col-md-12">
      <div class="text-right">
        <a href="{% url 'usuarios:add-usuario'%}" class="btn btn-primary"><b>Cadastrar Usuário</b>
        </a>
      </div>
    </div>
  </div>
  <div class="row justify-content-center ">
    <div class="col-md-8 ">
      <h4 class=" text-primary"><strong>Usuários</strong> </h4>
    </div>
  </div>
  <br>
  <div class="row ">
    <div class="container">
      <div class="row  justify-content-center">

        <form class="col-md-8  needs-validation" action="{% url 'usuarios:search-usuario'%}" method="GET"
          id="validar-form">


          <div class="row">
            <div class="col-md-12">
              <div class="alert alert-danger d-none" role="alert">
                Insira algum filtro para realizar a busca.
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-12">
              <label for="search_nome_cpf"><strong> Busque pelo Nome/CPF</strong></label>
              <input type="search" name="search_nome_cpf" class="form-control" value="{{request.GET.search_nome_cpf}}"
                id="search_nome_cpf">

            </div>
          </div>
          <div class="row">
            <div class="col-md-4 pt-2 ">
              <label for="search_dt_nascimento">Data de Nascimento</label>
              <input type="date" name="search_dt_nascimento" class="form-control" id="search_dt_nascimento"
                value="{{request.GET.search_dt_nascimento}}">
            </div>

            <div class="col-md-4">
              <br> <br>
              <div class="form-check">
                {% if request.GET.check%}
                <input class="form-check-input" type="checkbox" name="check" id="check" checked>
                <label class="form-check-label" for="check">
                  Usuarios inativos
                </label>
                {% else %}
                <input class="form-check-input" type="checkbox" name="check" id="check">
                <label class="form-check-label" for="check">
                  Usuarios inativos
                </label>
                {%endif%}
              </div>
            </div>
            <div class="row">
            <div class="col-md-12 pt-2">
              <br>
              <div class="float-right">
                <a class="btn mr-2" href="{% url 'usuarios:list-usuario'%}" style="background-color:#DADADA;"> Limpar
                  Filtros</a>
                <button type="submit" class=" btn btn-primary ">Buscar</button>

              </div>
            </div>

          </div>
          </div>
        </form>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12 mt-4">
      {% if usuarios %}
      <div class="card">
        <div class="card-header">
          <h3 class="logo"><strong>Usuários</strong></h3>
        </div>

        <!-- /.card-header -->
        <div class="table-responsive-md">
          <div class="card-body">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Nome Completo</th>
                  <th>CPF</th>
                  <th>Data de Nascimento</th>
                  <th>Perfil</th>

                  <th>Ação</th>
                </tr>
              </thead>
              <tbody>
                {%for usuario in usuarios %}
                <tr>
                  <td>{{usuario.id}}</td>
                  <td>{{usuario.nome_completo}}</td>

                  <td>{{usuario.formt_cpf}}</td>

                  <td>{{usuario.dt_nascimento|date:"d/m/Y"|default:'---'}}</td>
                  <td>
                  {%for p in usuario.perfil.all%}
                   {{p}} &nbsp;
                  {%endfor%}
                </td>
                  <td>
                    <a href="{% url 'usuarios:detail-usuario' usuario.id%}" class="pr-2"><i
                        class="fas fa-solid fa-eye"></i></a>
                    <a href="{% url 'usuarios:edit-usuario' usuario.id%}" class="pr-1 text-warning"><i
                        class="fas fa-edit"></i></a>

                  </td>
                </tr>

                {%endfor%}
              </tbody>
            </table>
            <br>
            {% include 'usuario/paginacao_usuario.html'%}
          </div>
        </div>
      </div>
      {%else%}
      <h5 class="text-center pt-4">Nenhum Usuário foi encontrado.
      </h5>
      {% endif %}
    </div>
  </div>
</div>

<!-- Button trigger modal -->
{% endblock content %} {% block scripts %}
<script>
  $('#validar-form').submit(function () {
    let nome_cpf = $('#search_nome_cpf')
    let data = $('#data')
    let erro = $('.alert')

    if (nome_cpf.val() == '' && data.val() == '') {
      erro.removeClass('d-none')
      return false
    }

    return true
  })
</script>
{% endblock scripts %}