{% extends 'base.html' %}

{% load permission_tags %}
{% load bootstrap5 %} {% block content %}


<div class="container-fluid">
 {% include 'profissional/abas_profissional.html' %}

  <div class="row m-2">
    <div class=" col-md-6">
      <h4 class=" text-primary"><strong>Detalhe do Cadastro</strong></h4>
    </div>
    {% if user|has_role:'digitador,coordenador' %}
    <div class="col-md-6">
      <div class="text-right">
        <a href="{% url 'profissionais:edit-profissional' profissional.id %}" class="btn btn-primary"><b>Editar
            Cadastro</b> </a>
      </div>
    </div>
    {%endif%}
  </div>

  <div class="col-md-12 px-4">
    <fieldset>
      <legend class="text-primary"><b>Dados Pessoais</b> </legend>

      <hr>
      <div class="row">
        <div class="col-md-4">
          <label for="id_profissional" class="form-label">Nome Completo:</label>
          <h6 class="text-muted">{{profissional.nome_completo}}</h6>
        </div>
        <div class="col-md-4">
          <label for="id_email" class="form-label">E-mail:</label>
          <h6 id='email' class="text-muted">{{profissional.email}}</h6>
        </div>
         <div class="col-md-4">
          <label for="id_email" class="form-label">Cargo:</label>
          <h6 id='email' class="text-muted">{{profissional.get_cargo_display}}</h6>
        </div>
      </div>

      <br />

      <div class="row">
        <div class="col-md-3">
          <label for="id_cpf" class="form-label">CPF:</label>
          <h6 class="text-muted">{{profissional.formt_cpf}}</h6>
        </div>
        <div class="col-md-3">
          <label for="id_sus" class="form-label">Cartão do SUS:</label>
          <h6 class="text-muted">{{profissional.cns}}</h6>
        </div>
        <div class="col-md-3">
          <label for="id_sexo" class="form-label">Sexo:</label>
          <h6 class="text-muted">{{profissional.get_sexo_display}}</h6>
        </div>
        <div class="col-md-2">
          <label for="id_microarea" class="form-label">Micro-Área:</label>
          <h6 id='microarea' class="text-muted">{{profissional.microarea}}</h6>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-3">
          <label for="id_dt_nascimento" class="form-label">Data de Nascimento:</label>
          <h6 class="text-muted">{{profissional.dt_nascimento|date:"d/m/Y"|default:'---'}}</h6>
        </div>
        <div class="col-md-3">
          <label for="id_telefone" class="form-label">Telefone:</label>
          <h6 class="text-muted"> {{profissional.telefone}}</h6>
        </div>
        <div class="col-md-3">
          <label for="id_status" class="form-label">Status:</label>
          <h6 class="text-muted"> {{profissional.get_status_display}}</h6>
        </div>
        <div class="col-md-3">
          <label for="id_estabelecimento" class="form-label">Estabelecimento:</label>
          <h6 class="text-muted"> {{profissional.estabelecimento}}</h6>
        </div>


      </div>
      <br />
      <div class="row">
        <div class="col-md-12 mb-5">
            <a href="{% url 'profissionais:list-profissional' %}" class="btn btn-outline-primary mr-2">Voltar</a>
                           
        </div>
      </div>
     
  </div>
  <br /><br /><br />
</div>

{% endblock %}

{% block scripts %}

<script>
  $(document).ready(function () {
    var email = document.getElementById('email')
    if (email.innerHTML == 'None') {
      email.innerHTML = '-';
    }
    var microarea = document.getElementById('microarea')
    if (microarea.innerHTML == 'None') {
      microarea.innerHTML = '-';
    }


  });
</script>
{%endblock scripts%}