{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title %}{{title}} {%endblock title%}

{% block content %}

<div class="container-fluid">
    <br>

    <div class="col-12 m-2 pl-3">
        <h4 class=" text-primary"><b>{{title}}</b> </h4>
    </div>

    <div class="col-12 pl-3">
        {% bootstrap_form_errors form %}
    </div>

    <br>

    <form method="POST" enctype="multipart/form-data" autocomplete="off" class="col-12 px-4 ">
        <fieldset>
            {% csrf_token %}
            <legend>{{form_title}}</legend>

            <div class="row">

                <div class="col-md-6">
                    {% bootstrap_field form.nome_completo%}
                </div>
                <div class="col-md-6">
                    {% bootstrap_field form.email%}
                </div>

            </div>
            <div class="row">
                <div class="col-md-3">
                    {% bootstrap_field form.cpf%}
                </div>
                <div class="col-md-3">
                    {% bootstrap_field form.cns %}
                </div>
                <div class="col-md-3">
                    {% bootstrap_field form.sexo %}
                </div>
                <div class="col-md-3">
                    {% bootstrap_field form.cargo %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    {% bootstrap_field form.dt_nascimento %}
                </div>
                <div class="col-md-3">
                    {% bootstrap_field form.telefone%}
                </div>
                <div class="col-md-6">
                    {% bootstrap_field form.estabelecimento%}
                </div>

            </div>

            <div class="row">
                <div class="col-md-3">
                    {% bootstrap_field form.microarea%}
                </div>
                <div class="col-md-3">
                    {% bootstrap_field form.status%}
                </div>
            </div>


            <legend>{{endereco_title}}</legend>
            <div class="row">
                <div class="col-md-4">
                    {% bootstrap_field form_endereco.logradouro%}
                </div>
                <div class="col-md-2">
                    {% bootstrap_field form_endereco.numero%}
                </div>

                <div class="col-md-3">
                    {% bootstrap_field form_endereco.bairro%}
                </div>
                <div class="col-md-3">
                    {% bootstrap_field form_endereco.complemento%}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    {% bootstrap_field form_endereco.cep%}
                </div>
                <div class="col-md-6">
                    {% bootstrap_field form_endereco.cidade%}
                </div>
                <div class="col-md-3">
                    {% bootstrap_field form_endereco.estado%}
                </div>

            </div>


        </fieldset>
        <br>
        <div class="row">
            <div class="col-md-6  mb-5">
                <a href="{% url 'profissional:list-profissional' %}" class="btn btn-outline-danger mr-2">Cancelar</a>
                <button type="submit" class="btn btn-primary ">Salvar</button>
            </div>

        </div>


    </form>
    <br><br><br>
</div>
</div>

{% endblock %}

{%block scripts %}



{% endblock scripts %}