{% extends 'base.html' %} {% load bootstrap5 %} {% block content %}

<div class="descricaoiner-fluid">
    <br />

    <div class="row m-2">

        <div class="col-md-12">
            <div class="text-right">
                <a href="{% url 'transportes:edit-viagem' viagem.id %}" class="btn btn-primary"><b>Editar Viagem
                </a>
            </div>
        </div>

    </div>

    <div class="col-md-12 px-4">
        <br />
        <div class="row">
            <div class=" col-md-6">
                <h4 class=" text-primary"><strong>Detail da Viagem</strong> </h4>

            </div>
        </div>

        <br />


        <div class="row">
            <div class="col-md-3">
                <label for="id_viagem" class="form-label">Destino da Viagem:</label>
                <h6 class="text-muted">{{viagem.destino_viagem|upper}}</h6>

            </div>
            <div class="col-md-3">
                <label for="id_data" class="form-label">Data da Viagem:
                    <h6 class="text-muted">{{viagem.data_viagem}}</h6>
            </div>
            <div class="col-md-3">
                <label for="id_horario_viagem" class="form-label">Horario da Viagem:
                    <h6 class="text-muted">{{viagem.horario_saida}}</h6>

            </div>
            
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">
                <label for="id_carro" class="form-label">Carro:</label>
                <h6 class="text-muted">{{viagem.carro|upper}}</h6>

            </div>
            <div class="col-md-2">
                <label for="id_placa" class="form-label">Placa do Carro:</label>
                <h6 class="text-muted">{{viagem.carro.placa|upper}}</h6>

            </div>
            <div class="col-md-2">
                <label for="id_status" class="form-label">Status da Viagem:</label>
                <h6 class="text-muted">{{viagem.status|upper}}</h6>

            </div>
            <div class="col-md-6">
                <label for="id_motorista" class="form-label">Motorista:</label>
                <h6 class="text-muted">{{viagem.motorista|upper}}</h6>

            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class=" text-primary"><b>Passageiros</b> </h4>
                    </div>
                    <div class="table-responsive-md">
                        <div class="card-body">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>

                                        <th class="text-center">Nome do Paciente</th>
                                        <th class="text-center">Acompanhante</th>
                                        <th class="text-center">Local do Exame</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for p in viagem.passageiros_viagens.all%}
                                    <div class="table-responsive-md">

                                        <tr>
                                            <td>{{p.paciente}}</td>

                                            {% if p.acompanhante %}
                                            
                                                <td class="text-center">{{p.acompanhante}}</td>
                                            {% else %}
                                                 <td class="text-center">-</td>
                                            {%endif%}
                                            <td class="text-center">
                                                {{p.local_exame}}

                                            </td>
                                           


                                        </tr>



                                        {%endfor%}

                                </tbody>
                               
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}