{% extends 'base.html' %} 
{% load permission_tags %}


{% load bootstrap5 %} {% block content %}

<div class="container-fluid">
    {% include 'viagem/abas_viagem.html' %}


    {% if user|has_role:'recepcao' %}

    <div class="row m-2">

        <div class="col-md-12">
            <div class="text-right">
                <a href="{% url 'transportes:edit-viagem' viagem.id %}" class="btn btn-primary"><b>Editar Viagem
                </a>
            </div>
        </div>

    </div>
    {%endif%}

    <div class="col-md-12 px-4">
        <br />
        <div class="row">
            <div class=" col-md-6">
                <h4 class=" text-primary"><strong>Detalhe da Viagem</strong> </h4>

            </div>
        </div>

        <br />


        <div class="row">
            <div class="col-md-4">
                <label for="id_viagem" class="form-label">Destino da Viagem:</label>
                <h6 class="text-muted">{{viagem.destino_viagem|upper}}</h6>

            </div>
            <div class="col-md-4">
                <label for="id_data" class="form-label">Data da Viagem:
                    <h6 class="text-muted">{{viagem.data_viagem|date:"d/m/Y"|default:'---'}}</h6>
            </div>
            <div class="col-md-4">
                <label for="id_horario_viagem" class="form-label">Horario da Viagem:
                    <h6 class="text-muted">{{viagem.horario_saida}}</h6>

            </div>
            
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">
                <label for="id_carro" class="form-label">Carro:</label>
                <h6 class="text-muted">{{viagem.carro|upper}}</h6>

            </div>
    
            <div class="col-md-3">
                <label for="id_status" class="form-label">Status da Viagem:</label>
                <h6 class="text-muted">{{viagem.get_status_display|upper}}</h6>

            </div>
            <div class="col-md-3">
                <label for="id_motorista" class="form-label">Motorista:</label>
                <h6 class="text-muted">{{viagem.motorista.nome_completo|upper}}</h6>

            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class=" text-primary"><b>Passageiros</b> </h4>
                    </div>
                    <div class="table-responsive-md">
                        <div class="card-body">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>

                                        <th>Nome do Paciente</th>
                                        <th>Acompanhante</th>
                                        <th>Local do Exame</th>
                                        <th>Local de Espera</th>
                                        <th>Telefone</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for p in viagem.passageiros_viagens.all%}
                                    <div class="table-responsive-md">

                                        <tr>
                                            <td>{{p.paciente}}</td>

                                            {% if p.acompanhante %}
                                            
                                                <td >{{p.acompanhante}}</td>
                                            {% else %}
                                                 <td >-</td>
                                            {%endif%}

                                            {% if p.local_exame %}
                                            <td>
                                                {{p.local_exame}}

                                            </td>
                                            {% else %}
                                                <td>-</td>
                                            {%endif%}

                                            {% if p.local_espera %}
                                                <td>{{p.local_espera}}</td>
                                           
                                            {%else%}
                                            <td>-</td>
                                            {%endif%}

                                            {% if p.telefone %}
                                            <td>
                                              {{  p.telefone}}
                                            </td>
                                            {%else%}
                                            <td>-</td>
                                            {%endif%}

                                        </tr>
                                       


                                        {%endfor%}

                                </tbody>
                               
                            </table>
                          

                        </div>
                      
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-5">
                <a href="{% url 'transportes:list-viagem' %}" class="btn btn-outline-primary mr-2">Voltar</a>
                               
            </div>
          </div>
    </div>
</div>
{% endblock content %}