{% extends 'base.html' %} {% load widget_tweaks %}

{% load crispy_forms_tags %}


{% block content %}

<div class="container-fluid">
  {% include 'viagem/abas_viagem.html' %}

  <div class="col-12 m-2 pl-3">
    <h4 class=" text-primary"><b>Cadastro de Viagem</b> </h4>
  </div>
  <br>
  <form method="POST" enctype="multipart/form-data" autocomplete="off" class="col-12 px-4 needs-validation" novalidate>
    {% csrf_token %}
    <fieldset>
      <legend class="text-primary"><b>Dados da Viagem</b> </legend>
      <hr>
      <br>
      <div class="row mt-2">
        <div class="col-md-5">{{form.destino_viagem|as_crispy_field }}
        </div>
        <div class="col-md-5">{{form.data_viagem|as_crispy_field }}</div>
        <div class="col-md-2">{{form.horario_saida|as_crispy_field }}

        </div>
        <div class="row mt-2">
          <div class="col-md-4">{{form.carro|as_crispy_field }}
          </div>
          <div class="col-md-3">{{form.status|as_crispy_field }}</div>
          <div class="col-md-5">{{form.motorista|as_crispy_field }}</div>

        </div>
    </fieldset>

    

<div class="row">
  <div class="col-sm-12">
    <br>
    {{ formset.management_form }}

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class=" text-primary"><strong>Passageiro</strong></h4>
          </div>
          <div class="table-responsive-md">
            <div class="card-body">
              <table class="form table table-bordered">
                <thead>
                  <tr>
                    <th>Paciente</th>
                    <th>Acompanhante</th>
                    <th>Local do Exame</th>
                    <th>Local de Espera</th>
                    <th></th> </tr>
                </thead>
                <tbody>
                  {% for form in formset %}
                  <tr class="{% cycle 'row1' 'row2' %}">
                    {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                    {% endfor %}
                    <td>{{ form.paciente }}</td>
                    <td>{{ form.acompanhante }}</td>
                    <td>{{ form.local_exame }}</td>
                    <td>{{ form.local_espera }}</td>
                    <td>{{ form.DELETE }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



      <div class="row">
        <div class="col-md-12 mb-5">
          <div class="text-right">
            <a href="{% url 'transportes:list-viagem'%}" class="btn btn-outline-danger mr-2">Cancelar</a>
            <button id="submit" class="btn btn-primary">Salvar</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock content%}

{% block scripts %}
  {{ form.media }}
  {{ formset.media }}

  <script src='/static/utils/jquery.formset.min.js'></script>
  <script>
    $('table.form tr').formset({
      prefix: '{{ formset.prefix }}',
      addText: "<div><i class='fas fa-plus'></i></div>",
      deleteText: "<div class='btn btn-danger btn-circle'><i class='fas fa-trash'></i></div>"
    });
  </script>
{% endblock scripts %}