{% extends 'base.html' %}
{% load permission_tags %}

{% block content %}

<div class="container-fluid">
    {% include 'viagem/abas_viagem.html' %}
    <div class="row">
        <div class="col-md-12">
            {% include 'includes/mensagens.html'%}
        </div>
    </div>
    {% if user|has_role:'recepcao,regulacao' %}

        <div class="row">
            <div class="col-md-12">
                <div class="text-right">
                    <a href="{% url 'transportes:add-viagem' %}" class="btn btn-primary"><b>Cadastrar Viagem</b>
                    </a>
                </div>
            </div>
        </div>
    {%endif%}
    <div class="row justify-content-center ">
        <div class="col-md-8">
            <h4 class=" text-primary"><strong>Viagens</strong> </h4>
        </div>
    </div>
    <br>
    <div class="row ">
        <div class="container">
            <div class="row  justify-content-center">

                <form class="col-md-8  needs-validation" action="{% url 'transportes:search-viagem' %}" method="GET"
                    id="validar-form">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-danger d-none" role="alert">
                                Insira algum filtro para realizar a busca.
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="destino_viagem"><strong>Destino da Viagem</strong></label>
                            <input type="search" name="destino_viagem" class="form-control"
                                value="{{request.GET.destino_viagem}}" id="destino_viagem">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 pt-2">
                            <label for="data">Data da Viagem</label>
                            <input type="date" name="data" class="form-control" id="data" value="{{request.GET.data}}">

                        </div>
                        <div class="col-md-4 pt-2">

                            <label for="placa_carro">Placa do Carro </label>
                            <input type="search" name="placa_carro" class="form-control" id="placa_carro"
                                value="{{request.GET.placa_carro}}">

                        </div>
                        <div class="col-md-4 mt-2">
                            <label for="id_status">Status:</label>
                            <select class="form-select" id="id_status" name="status">
                                <option value="" {% if request.GET.status == '0' %}selected{% endif %}>Selecione uma opção</option>
                                <option value="1" {% if request.GET.status == '1' %}selected{% endif %}>Aguardando</option>
                                <option value="2" {% if request.GET.status == '2' %}selected{% endif %}>Concluido</option>
                                <option value="3" {% if request.GET.status == '3' %}selected{% endif %}>Cancelado</option>
                            </select>
                    </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12 pt-2">
                            <br>
                            <div class="float-right">
                                <a class="btn mr-2" href="{% url 'transportes:list-viagem'%}"
                                    style="background-color:#DADADA;"> Limpar
                                    Filtros</a>
                                <button type="submit" class=" btn btn-primary ">Buscar</button>

                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12 mt-4">
            {% if viagens %}

            <div class="card">
                <div class="card-header">
                    <h3 class="logo"><strong>Viagens</strong></h3>

                </div>
                <!-- /.card-header -->
                <div class="table-responsive-md">
                    <div class="card-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Carro</th>
                                    <th>Placa</th>
                                    <th>Destino</th>
                                    <th>Motorista</th>
                                    <th>Status</th>
                                    <th>Data Viagem</th>
                                    <th>Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for viagem in viagens %}
                                <tr>
                                    <td>{{viagem.carro.nome}}</td>
                                    <td>{{viagem.carro.placa|upper}}</td>
                                    <td>{{viagem.destino_viagem|upper}}</td>
                                    <td>{{viagem.motorista.nome_completo}}</td>
                                    <td>{{viagem.get_status_display}}</td>
                                    <td>{{viagem.data_viagem|date:"d/m/Y"|default:'---'}}</td>



                                    <td>

                                        <a href="{% url 'transportes:detail-viagem' viagem.id%}" class="pr-1"><i
                                                class="fas fa-solid fa-eye"></i></a>
                                        
                                        {% if user|has_role:'regulacao,recepcao' %}

                                                {% if viagem.status != '2'%}
                                                <a href="{% url 'transportes:edit-viagem' viagem.id%}"
                                                    class="pr-1 text-warning"><i class="fas fa-edit"></i></a>

                                                {% elif viagem.status == '2' and user|has_role:'coordenador' %}
                                                    <a href="{% url 'transportes:edit-viagem' viagem.id%}" class="pr-1 text-warning"><i class="fas fa-edit"></i></a>
                                                {%endif%}

                                        {%endif%}

                                        {% if user|has_role:'coordenador,' %}
                                        <a href="#modal--{{viagem.id}}" data-bs-toggle="modal"
                                            data-bs-target="#modal--{{viagem.id}}" class="pr-2 text-danger">

                                            <i class="fas fa-solid fa-trash-can"></i>
                                        </a>
                                        {%endif%}
                                          
                                        {% if user|has_role:'regulacao,recepcao,secretario,coordenador' %}
                                        <a href="{% url 'transportes:pdf-viagem' viagem.id %}"  target="_blank">
                                            <i class='fas fa-print'></i>
                                          </a>
                                          {%endif%}
                                    </td>
                                </tr>
                                {% include 'viagem/modal_delete_viagem.html'%}

                                {%endfor%}

                            </tbody>
                        </table>
                        <br>
                        {% include 'includes/paginacao.html'%}
                    </div>
                </div>
            </div>
            {% else %}
            <h5 class="text-center pt-4">Nenhuma Viagem foi encontrada.
            </h5>
            {%endif %}
        </div>
    </div>


</div>
{% endblock content %} {% block scripts %}
<script>
    $('#validar-form').submit(function () {
        let buscar = $('#buscar')
        let data = $('#id_data')
        let status= $('#id_status')

        let erro = $('.alert')

       
        if (buscar.val() == '' && data.val() == '' && status.val()=='') {
            erro.removeClass('d-none')
            return false
        }

        return true
    })
</script>
{% endblock scripts %}