{% extends 'relatorio.html' %}
{% load static %}
{% block title %}Viagem{% endblock %}

{% block head%}
<style>

/* Cabeçalho da pagina 
@page {
  size: "A4";
  margin: 1.0cm 1.5cm 3.5cm 1.5cm;
  /* size: A4 landscape; 
}*/

  body{

        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
      }
      td{
    
      
      text-align:center
      }
      th{
        padding: 2px;
        text-align: center;
      }
      table{

        font-size: 11px;
      }

       .cabecalho-info {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        padding: 10px;
    }
    .info-motorista {
        flex: 1; /* Ocupa o espaço restante */
        margin-right: 20px;
    }
    .info-motorista p {
        margin: 0;
    }
    .foto-carro {
        text-align: center;
    }
    .foto-carro img {
        width: 4cm;
        max-width: 100%;
        margin-bottom: 5px;
    }
    .info-detalhada {
        flex-basis: 100%; /* Ocupa a linha toda, ficando abaixo dos outros itens */
        margin-top: 10px;
    }
    .info-detalhada p {
        margin: 0;
    }
</style>


{% endblock%}
{% block content %}
{% include 'includes/cabecalho.html' %}

<h3 class="text-center"> <b>VIAGEM</b></h3>

<div class="cabecalho-info">
    <div class="info-motorista">
        <p><b>MOTORISTA: </b>{{ viagem.motorista.nome_completo|upper }}</p>
        <div class="info-detalhada">
            <p class="">
                <b>DESTINO: </b>{{ viagem.destino_viagem|upper }}
            </p>
            <p class="pt-2"><b>DATA: </b>{{ viagem.data_viagem|date:"d/m/Y"|default:'---' }}
                <b>HORÁRIO: </b>{{ viagem.horario_saida }}</p>
        </div>
    </div>
    
    <div class="foto-carro">
        <img src="{{ viagem.carro.foto.url }}" alt="Foto do Carro">
        <p><b>PLACA: </b>{{ viagem.carro.placa|upper }}</p>
    </div>
</div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>N°</th>
      <th>PACIENTE</th>
      <th>ACOMPANHANTE</th>
      <TH>ACS</TH>
      <th>LOCAL DE EXAME</th>
      <th>LOCAL DE ESPERA </th>
      <th>TELEFONE</th>
    </tr>
  </thead>
  <tbody>
    {% for p in viagem.passageiros_viagens.all %}

    <tr>
      <td>{{ forloop.counter }} </td>
      <td>{{p.paciente.nome_completo|upper}}</td>

      {% if p.acompanhante %}
      <td>{{p.acompanhante}}</td>
      {% else %}
      <td>-</td>
      {%endif%}
      
      {% if p.paciente.microarea.profissional.acs %}
      <td>{{p.paciente.microarea.profissional.acs}}</td>
      {% else %}
      <td>-</td>
      {%endif%}
      
      {% if p.local_exame %}
      <td>
        {{p.local_exame}}
      </td>
      {% else %}
      <td>-</td>
      {%endif%}



      {% if p.local_espera %}
      <td>{{p.local_espera}}</td>

      {%else%}
      <td>-</td>
      {%endif%}

      {% if p.paciente.telefone1 %}
      <td>
        {{ p.paciente.telefone1}}
      </td>
      {%else%}
      <td>-</td>
      {%endif%}

    </tr>

    {%endfor%}
  </tbody>
</table>



{% endblock %}