{% extends 'relatorio.html' %}
{% load static %}
{% block title %}Viagem{% endblock %}

{% block head%}
{% comment %} <style>
  @page {
  size: A4 landscape;
  margin: 1.0cm 1.5cm 3.5cm 1.5cm;
  
}
</style> {% endcomment %}

{% endblock%}
{% block content %}
{% include  'includes/cabecalho.html' %}

<h3 class="title_center"> VIAGEM</h3>

<div class="conteudo2">

  <div class="texto">
   <p class="paragrafo">   <b>MOTORISTA: </b>{{viagem.motorista.nome_completo|upper}}</p>
   <br>
   <p class="paragrafo"><b>DESTINO: </b>{{viagem.destino_viagem}}</p>
   <br>
   <p class="paragrafo">  <b>DATA: </b>{{viagem.data_viagem|date:"d/m/Y"|default:'---'}} &nbsp; &nbsp;  <b>HORARIO: </b>{{viagem.horario_saida}}    </p>
  </div>
  <div class="imagem">
    <img src="{{ viagem.carro.foto.url}}" alt="">
    <p class="title_center"><b>PLACA: </b>{{viagem.carro.placa}}

  </div>

</div>

<br>


<table class="table-bordered table-viagem ">
  <thead>
  <tr>
    <th>N°</th>
    <th>PACIENTE</th>
    <th>ACOMPANHANTE</th>
    <th>LOCAL DE EXAME</th>
    <th>LOCAL DE ESPERA </th>
    <th>TELEFONE</th>
  </tr>
</thead>
  <tbody>
    {% for p in viagem.passageiros_viagens.all %}
  
    <tr>
      <td class="title_center ">{{ forloop.counter }} </td>
      <td>{{p.paciente}}</td>

      {% if p.acompanhante %}
          <td >{{p.acompanhante}}</td>
      {% else %}
           <td >-</td>
      {%endif%}
      

      {% if p.local_exame %}
      <td>
          {{p.local_exame}}
      </td>
      {% else %}
          <td>-</td>
      {%endif%}



      {% if p.local_espera %}
          <td>{{p.local_espera}}</td>
     
      {%else%}
      <td>-</td>
      {%endif%}

      {% if p.telefone %}
      <td>
        {{  p.telefone}}
      </td>
      {%else%}
      <td>-</td>
      {%endif%}

  </tr>
  
  {%endfor%}
</tbody>
</table>




{% endblock %}