{% load static %}
{% block title %}{% endblock %}

{% block head%}
<style>
/* Cabeçalho da pagina */
@page {
    size: "A4";
    /*margin: 1.0cm 1.5cm 1.5cm 1.5cm;*/
    margin: 0.3cm 1.5cm 1.5cm 1.5cm;
    @bottom-left {
        content: element(footer-content);
    }

    /* Insere a numeração de página no rodapé */
    @bottom-right {
        content: "Pág. " counter(page) " de " counter(pages);
        font-family: Arial, sans-serif;
        font-size: 10pt;
        
    }
}
#footer-content {
    /* O nome 'footer-content' aqui deve ser o mesmo usado em 'content: element()'. */
    position: running(footer-content);
    /* Você pode adicionar estilos extras ao seu rodapé aqui */
    text-align: left;
    font-size: 10pt;

    padding-bottom: 5px;
}

body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

td {
    padding-top: 2px;
    border-bottom: 1px solid #ddd;
}

th {
    padding: 6px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    background-color: #f2f2f2;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 11px;
    
}

.header-container {
    display: table;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
    
}

.header-row {
    display: table-row;
}

.header-cell {
    display: table-cell;
    vertical-align: middle;
}

.header-cell:last-child {
    border-right: none;
}

.header-cell p, .header-cell h4 {
    margin: 0;
    padding: 2px 0;
}
.info-motorista {
    /* Diminuímos o padding geral da caixa */
   
    border: 1px solid #000;
    /* Reduzimos a margem inferior para a caixa ficar mais próxima do que a segue */
    margin-bottom: 5px; 
}

.info-motorista .linha {
    display: flex;
    justify-content: space-between;
    /* Diminuímos o padding vertical para as linhas */
    padding: 2px 0; 
    border-bottom: 1px solid #ddd;
}

.info-motorista .linha:last-child {
    border-bottom: none;
}

.info-motorista .item {
    flex: 1; 
    /* Diminuímos o padding horizontal para os itens */
    padding: 0 5px; 
}

.placa-container {
    text-align: right;
}



.local-info {
    padding: 5px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    display: flex;
    justify-content: space-between;
}

.local-info p {
    margin: 0;
}

.foto-container {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    border: 1px solid #000;
    margin-bottom: 10px;
}

.logo-prefeitura {
    width: 280px;
    height: 140px;
  
}
.text-center{
  text-align: center;
}

.foto-carro {
     width: 380px;
     height: 140px;
}

.table thead tr th, .table tbody tr td {
    text-align: center;
}

.footer-info {
    margin-top: 20px;
}
</style>
{% endblock%}

{% block content %}


<div class="header-container">
    <div class="header-row">
        <div class="header-cell" style="width: 50%; height: 50%;">
            <img class="logo-prefeitura" src="{% static 'img/PC.jpg' %}" alt="Logo da Prefeitura">
        </div>
        <div class="header-cell" style="width: 10%; border-right: none;">
            <img class="foto-carro" src="{{ viagem.carro.foto.url }}" alt="Foto do Carro">
        </div>
    </div>
</div>

<div class="info-motorista">
    <div class="linha">
        <div class="item">
            <p style="margin: 0px;"><b>MOTORISTA:</b> <br> {{ viagem.motorista.nome_completo|upper }}</p>
        </div>
        <div class="item placa-container">
            <p style="margin: 0px;"><b>PLACA: </b><br> {{viagem.carro.placa}}</p>
        </div>
    </div>
    <div class="linha">
        <div class="item">
            <p style="margin: 0px;"><b>DESTINO:</b> <br> {{viagem.destino_viagem|upper}}</p>
        </div>
        <div class="item">
            <p style="margin: 0px;"><b>DATA:</b> <br> {{viagem.data_viagem|date:"d/m/Y"}}</p>
        </div>
        <div class="item">
            <p style="margin: 0px;"><b>HORÁRIO:</b> <br> {{viagem.horario_saida}}</p>
        </div>
    </div>
</div>
<br>
<table class="table " style="padding-top: 5     px;">
    <thead>
        <tr>
            <th>N°</th>
            <th>PACIENTE</th>
            <th>ACOMPANHANTE</th>
            <th>LOCAL DE EXAME</th>
            <th>LOCAL DE ESPERA</th>
            <th>TELEFONE</th>
        </tr>
    </thead>
    <tbody>
        {% for p in viagem.passageiros_viagens.all %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ p.paciente.nome_completo|upper }}</td>
            <td>{% if p.acompanhante %}{{ p.acompanhante }}{% else %}-{% endif %}</td>
            <td>{% if p.local_exame %}{{ p.local_exame }}{% else %}-{% endif %}</td>
            <td>{% if p.local_espera %}{{ p.local_espera }}{% else %}-{% endif %}</td>
            <td></td>
        </tr>
        {% endfor %}

        {% for i in capacidade %}
            {% if forloop.counter > total %}
            <tr >
                <td>{{ forloop.counter }}</td>
                <td></td> 
                <td></td>
                <td></td>
                <td></td>
                 <td></td>
                
            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>

 <div class="row">
        <div class="col-md-12 m-0">
            <p class><b>Qta. Passageiros: </b> {{total}}</p>
            <p class="m-0 text-center">
                {%if carro_lotado %}
                <b style="color: red;">CARRO LOTADO</b>
                {%endif%}
            </p>
        </div>
    </div>

 <div id="footer-content">
    {% if viagem.criado_por %}
        <p>Realizado por {{ viagem.criado_por|upper }} no dia
            {{viagem.created_at|date:"d/m/Y"|default:'---'}} às
            {{viagem.created_at|time:"H:i"|default:'---'}}</span></p>
   
    {% endif %}



{% endblock %}