{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <br /><br />
    <div class="row">
        <div class=" col-md-12">
            <h4 class=" text-primary text-center"><strong>{{tipoespecialidade.nome}}</strong></h4>
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="text-right">
                <a href="{% url 'especialidades:add-paciente-especialidade' tipoespecialidade.id %}"
                    class="btn btn-primary"><b>Adicionar Paciente</b>
                </a>
            </div>
        </div>
    </div>

    <br>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="logo">Especialidade</h3>

                </div>
                <!-- /.card-header -->
                <div class="table-responsive-md">
                    <div class="card-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Paciente</th>
                                    <th>CPF</th>
                                    <th>ACS</th>
                                    <th>PSF</th>
                                    <th>Tipo de Atendimento</th>
                                    <th>Classficação</th>
                                    <th>Opção</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for especialidade in tipoespecialidade.tipoespecialidade_especialidade.all %}
                                <tr>
                                    <td>{{especialidade.paciente.nome_completo}}</td>
                                    <td>{{especialidade.paciente.formt_cpf}}</td>
                                    <td>{{especialidade.profissional}}</td>
                                    <td>{{especialidade.profissional.estabelecimento}} </td>
                                    <td>{{especialidade.get_tipo_atendimento_display }}</td>
                                    {% if especialidade.classificacao == '2'%}
                                    <td style="background-color: red; color: white;">
                                        {{especialidade.get_classificacao_display}}

                                    </td>
                                    {% else %}
                                    <td>
                                        {{especialidade.get_classificacao_display}}
                                    </td>

                                    {%endif%}
                                    <td>

                                        <a href="{% url 'especialidades:detail-paciente-especialidade' especialidade.id%}"
                                            class="pr-1"><i class="fas fa-solid fa-eye"></i></a>

                                        <a href="{% url 'especialidades:edit-paciente-especialidade' especialidade.id%}"
                                            class="pr-1 text-warning"><i class="fas fa-edit"></i></a>

                                        <a href="#modal--{{especialidade.id}}" data-bs-toggle="modal"
                                            data-bs-target="#modal--{{especialidade.id}}" class="pr-2 text-danger">

                                            <i class="fas fa-solid fa-trash-can"></i>
                                        </a>
                                    </td>
                                </tr>
                                {%endfor%}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'includes/modal_delete.html'%}
<!-- Button trigger modal -->
{% endblock content %} {% block scripts %}

{% endblock scripts %}