{% extends 'base.html' %} 

{% block content %}
<div class="container-fluid">
  <br /><br />
  <div class="row mb-3">
            
    <div class="col-md-12">
      <div class="text-right">
          <a href="{% url 'especialidades:add-tipoespecialidade' %}" class="btn btn-primary"><b>Cadastrar Especialidade</b>
          </a>
      </div>
    </div>
    
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="logo">Especialidades</h3>
         
        </div>
        <!-- /.card-header -->
        <div class="table-responsive-md">
          <div class="card-body">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th style="width: 10px">id</th>
                  <th>Nome da Especialidade</th>
                  <th>Opção</th>
                </tr>
              </thead>
              <tbody>
                {%for especialidade in tipoespecialidades %}
                <tr>
                  <td>{{especialidade.id}}</td>
                  <td>{{especialidade.nome}}</td>
                  
                  <td>
                   
                    <a
                      href="{% url 'especialidades:detail-tipoespecialidade' especialidade.id%}"
                      class="pr-1"
                      ><i class="fas fa-solid fa-eye"></i
                    ></a>
                   
                    <a
                      href="{% url 'especialidades:edit-tipoespecialidade' especialidade.id%}"
                      class="pr-1 text-warning"
                      ><i class="fas fa-edit"></i
                    ></a>

                    <a href="#modal--{{especialidade.id}}"
                     
                     
                      data-bs-toggle="modal" 
                      data-bs-target="#modal--{{especialidade.id}}"
                      class="pr-2 text-danger"
                        
                    >
                   
                      <i class="fas fa-solid fa-trash-can"></i>
                    </a>
                  </td>
                </tr>
                {% include 'tipoespecialidade/modal_delete_tipoespecialidade.html'%}
                {%endfor%}
               
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'includes/modal_delete.html'%}
<!-- Button trigger modal -->
{% endblock content %} {% block scripts %}

{% endblock scripts %}
