<div
  class="modal fade"
  id="modal--{{especialidade.id}}"
  aria-labelledby="exampleModalLabel" 
  aria-hidden="true"
  tabindex="-1"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="staticBackdropLabel">
          Você tem certeza que deseja excluir  o Especialidade  ?           
        </h6>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <p ><strong>{{especialidade.nome}}</strong> </p>
          <p class='text-danger'>As informações relacionada a essa especialidade será apagada também
            (Lista de paciente)
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <form method="POST" action="{% url 'especialidades:del-tipoespecialidade' especialidade.id %}" id="id_form">
          <button
            type="button"
            class="btn btn-outline-danger"
            data-bs-dismiss="modal"
          >
            NÃO 
          </button>

          {% csrf_token %}
          <button type="submit" class="btn btn-primary">SIM</button>
        </form>
      </div>
    </div>
  </div>
</div>
