
/* Cabeçalho da pagina 
@page {
  size: "A4";
  margin: 1.0cm 1.5cm 3.5cm 1.5cm;
  /* size: A4 landscape; 
}*/
@page {
        margin: 20px;
    }
.cabecalho{
  align-items: center;
} 
.conteudo{
  margin-bottom: 100px;
}
.cabecalho_img {
 
  
  width: 660px;
  height: 110px;
 
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.text-logo{
  font-size: 13px;
  padding-left: 30px;
}

.bordas{
    border: 1px solid black;

    margin-top: 8px;
}
.logo{
  font-size: 14px;
  margin-top: 30px;
  float: right;
}
.container{
  display: flex;
  align-items: center;
  
}

.conteudo2{
  display: table;
}

.imagem{
  display: table-cell;
  padding-left: 40px;
  margin-top: 15px;

  
}

.texto{
  display: table-cell;
  float: left;
  margin-top: -50px;
  font-size: 14px;
}
.linha{

    border-bottom: solid 1px black ;
}
.tfd{
  padding: 15px;
  font-size: 13px;
  line-height: 18px;
}
.paragrafo{
    
   
    padding: 5px;
    padding-left: 10px;
}
.title_center{
    text-align: center;
   
}
.espaco{
    padding-left: 10px;
}
.espaco1{
    padding-left: 150px;
}
.mt{
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;

}
.pt{
  padding-top: 5px;
}

  thead {
    background-color: #eee;
  }

  .table-bordered {
    margin-top: 5px;
  }
 
  
  

  .table-bordered th,
  .table-bordered td {

    border: 1px solid black;
    padding-left: 12px;
  }

  .table-bordered thead th,
  .table-bordered thead td {
    border-bottom-width: 1px;


  }

  .table-borderless th,
  .table-borderless td,
  .table-borderless thead th,
  .table-borderless tbody+tbody {
    border: 10px;
  }
  .table-tfd td{
    padding: 8px;
    text-align: center;
  }
 

  .table-viagem td{
    padding: 4px;
  
  }
   

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  p{
    margin: 0px;
    padding: 0px;
  }

  .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
  }

  .subtitle {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
  }
