.bordas{
    border: 1px solid black;
    margin-top:4px ;
}
.title_cabecalho{
    padding-left: 20px;
    font-size: 16px;
}

.linha{

    border-bottom: solid 1px black ;
}
.paragrafo{
    margin: 2px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}
.title_center{
    text-align: center;
}
.espaco{
    padding-left: 10px;
}
.espaco1{
    padding-left: 130px;
}
.mt{
    margin-top: 10px;
}

