<!DOCTYPE html>

{% load static %}
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    /* use CSS into style */
    @page {
      size: A4;
      /* Change from the default size of A4 */
      margin: 2.5mm;
      /* Set margin on each page */
    }

    table,
    td,
    th {
      border: 2px solid black;
    }
  </style>

</head>

<body>
  <div class="container">

    <br>
    <br>
    <div class="row">
      <div class="col">
        <img src="{% static 'img/logo.jpg' %}" width="10" height="10" style="padding-bottom: 50px;" alt="">

      </div>
      <div class="col text-center">
        pSecretaria Municipal de Saude de Santo Antonio do Jacinto-MG
      </div>
    </div>
    <table class="table table-bordered table-hover">


      <thead>
        <tr>
          <th style="width: 10px">#</th>
          <th>Nome Profissional</th>
          <th>CPF</th>
          <th>CNS</th>

        </tr>
      </thead>
      <tbody>
        {%for diaria in diarias %}
        <tr>
          <td>{{diaria.id}}</td>
          <td>{{diaria.profissional.nome_completo}}</td>
          <td style="padding:0 !important;">{{diaria.profissional.cpf}}</td>
          <td>{{diaria.profissional.cns}}</td>
        </tr>

        {%endfor%}

      </tbody>
    </table>




  </div>

</body>

</html>