{% load static %}
<!DOCTYPE html>


<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">


</head>

<body>
  <div class="container">

    <table class="table">
      <thead>
        <tr>
          <th style="width: 10px">#</th>
          <th>Nome Profissional</th>
          <th>CPF</th>

        </tr>
      </thead>
      <tbody>
        {%for diaria in diarias %}
        <tr>
          <td>{{diaria.id}}</td>
          <td>{{diaria.profissional.nome_completo}}</td>
          <td>{{diaria.profissional.cpf}}</td>
        </tr>

        {%endfor%}

      </tbody>
    </table>




  </div>

</body>

</html>