{% extends 'base.html' %} {% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
  {% include 'registro_transporte/abas_registro_transporte.html' %}

  <div class="row">
    <div class="col-md-12">
        {% include 'includes/mensagens.html'%}
    </div>
</div>

  <div class="col-12 m-2 pl-3">
    <h4 class=" text-primary"><b>Registro de Transporte</b> </h4>
  </div>

  <form method="POST" enctype="multipart/form-data" autocomplete="off" class="col-12 px-4 mt-2 needs-validation" novalidate>
    <br>
    <fieldset>
      {% csrf_token %}
      <legend class="text-primary"> <b> Dados do Transporte </b></legend>
      <hr>
      <div class="row mt-2">
        <div class="col-md-6">{{form.paciente|as_crispy_field }}</div>
        <div class="col-md-3">{{form.dt_atendimento|as_crispy_field }}</div>
        <div class="col-md-3">{{form.carro|as_crispy_field }}</div>
      
       
      </div>
      <br>
      <div class="row">
        <div class="col-md-3">{{form.status|as_crispy_field }}</div>
        <div class="col-md-2">{{form.tipo_atend|as_crispy_field }}</div>
        <div class="col-md-2">{{form.acompanhante|as_crispy_field }}</div>
        <div class="col-md-2">{{form.atend_zona_rural|as_crispy_field }}</div>
        
      </div>
      <br>
      <div class="row">
        <div class="col-md-5">{{form.origem|as_crispy_field }}</div>
        <div class="col-md-5">{{form.destino|as_crispy_field }}</div>
       

        
      </div>
      <br>
      <div class="row">
          <div class="col-md-3">{{form.dist_percorrida|as_crispy_field }}</div>
          <div class="col-md-4">{{form.quant_proced_paciente|as_crispy_field }}</div>
          <div class="col-md-4">{{form.quant_proced_acompanhante|as_crispy_field }}</div>
      </div>
     
    </fieldset>
    <br>
   

    <div class="row justify-content-center">
      <div class="col-md-12 mb-5">
        <div class="text-right">
          <a href="{% url 'transportes:list-regis-transporte'%}" class="btn btn-outline-danger mr-2">Cancelar</a>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </div>
    </div>
  </form>
  <br /><br /><br />
</div>
</div>


{% endblock %}

{%block scripts %}
 
<script>
 

  $(document).ready(function () {

    
    var percorrida = document.getElementById("id_dist_percorrida")
    var proced_paciente = document.getElementById("id_quant_proced_paciente")
    var proced_acompanhante = document.getElementById("id_quant_proced_acompanhante")

    var acompanhante_sim = document.getElementById("id_acompanhante_0")
    var acompanhante_nao = document.getElementById("id_acompanhante_1")

    percorrida.addEventListener('change', calcular)
    acompanhante_sim.addEventListener('change',calcular)
    acompanhante_nao.addEventListener('change',calcular)
   

    function calcular() {

      var qta=0
   
      if (percorrida.value && acompanhante_sim.checked) {

          qta=Math.round(percorrida.value/50)
          proced_paciente.value=qta
          proced_acompanhante.value=qta
      }
      else if ( percorrida.value && acompanhante_nao.checked)
      {
        qta=Math.round(percorrida.value/50)
        proced_paciente.value=qta
        proced_acompanhante.value=''
 
      }

    }
  });
  
</script>

{% endblock scripts %}