{% extends 'base.html' %}
{% block title%}Lista Registros transportes {%endblock title%}

{% load permission_tags %}

{% block content %}

<div class="container-fluid">
    {% include 'registro_transporte/abas_registro_transporte.html' %}
    <div class="row">
        <div class="col-md-12">
            {% include 'includes/mensagens.html'%}
        </div>
    </div>
    {% if user|has_role:'regulacao' %}

    <div class="row">
        <div class="col-md-12">
            <div class="text-right">
                <a href="{% url 'transportes:add-regis-transporte' %}" class="btn btn-primary"><b>Cadastrar
                        Transporte</b>
                </a>
            </div>
        </div>
    </div>
    {%endif%}
    <div class="row justify-content-center ">
        <div class="col-md-8">
            <h4 class=" text-primary"><strong>Registro de Transportes</strong> </h4>
        </div>
    </div>
    <br>
    <div class="row ">
        <div class="container">
            <div class="row  justify-content-center">

                <form class="col-md-8  needs-validation" action="{% url 'transportes:search-regis-transporte' %}" method="GET"
                    id="validar-form">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-danger d-none" role="alert">
                                Insira algum filtro para realizar a busca.
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="nome_paciente"><strong>Digite nome do Paciente</strong></label>
                            <input type="search" name="nome_paciente" class="form-control"
                                value="{{request.GET.nome_paciente}}" id="nome_paciente">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 pt-2">
                            <label for="data">Data do Atendimento</label>
                            <input type="date" name="data" class="form-control" id="data" value="{{request.GET.data}}">

                        </div>
                        <div class="col-md-4 pt-2">

                            <label for="placa_carro">Placa do Carro </label>
                            <input type="search" name="placa_carro" class="form-control" id="placa_carro"
                                value="{{request.GET.placa_carro}}">

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12 pt-2">
                            <br>
                            <div class="float-right">
                                <a class="btn mr-2" href="{% url 'transportes:list-regis-transporte'%}"
                                    style="background-color:#DADADA;"> Limpar
                                    Filtros</a>
                                <button type="submit" class=" btn btn-primary ">Buscar</button>

                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12 mt-4">
            {% if transportes %}

            <div class="card">
                <div class="card-header">
                    <h3 class="logo"><strong>Registro de Transportes</strong></h3>

                </div>
                <!-- /.card-header -->
                <div class="table-responsive-md">
                    <div class="card-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Paciente</th>
                                    <th>Data de Atendimento</th>
                                    <td>Destino</td>
                                    <td>KM</td>
                                    <th>Placa do Carro</th>
                                    <th>Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for transporte in transportes %}
                                <tr>
                                    <th>{{transporte.id}}</th>
                                    <td>{{transporte.paciente.nome_completo}}</td>
                                    <td>{{transporte.dt_atendimento|date:"d/m/Y"|default:'---'}}</td>
                                    
                                    <td>{{transporte.destino}}</td>
                                     <td>{{transporte.dist_percorrida}}</td>
                                    <td>{{transporte.carro.placa}}</td>


                                    <td>

                                        <a href="{% url 'transportes:detail-regis-transporte' transporte.id%}"
                                            class="pr-1"><i class="fas fa-solid fa-eye"></i></a>
                                        
                                           
                                        {% if user|has_role:'receocao,regulacao' %}
                                        <a href="{% url 'transportes:edit-regis-transporte' transporte.id%}"
                                            class="pr-1 text-warning"><i class="fas fa-edit"></i></a>
                                        {%endif%}
                                        
                                        {% if user|has_role:'coordenador' %}
                                        
                                            <a href="#modal--{{transporte.id}}" data-bs-toggle="modal"
                                                data-bs-target="#modal--{{transporte.id}}" class="pr-2 text-danger">

                                                <i class="fas fa-solid fa-trash-can"></i>
                                            </a>
                                        {%endif%}

                                    </td>
                                </tr>
                                {% include 'registro_transporte/modal_delete_registro_transporte.html'%}

                                {%endfor%}

                            </tbody>
                        </table>
                        <br>
                        {% include 'registro_transporte/paginacao_registro_transporte.html'%}
                    </div>
                </div>
            </div>
            {% else %}
            <h5 class="text-center pt-4">Nenhum registro de transporte foi encontrada.
            </h5>
            {%endif %}
        </div>
    </div>


</div>
{% endblock content %} {% block scripts %}
<script>
    $('#validar-form').submit(function () {
        let nome_paciente = $('#nome_paciente')
        let data = $('#data')
        let placa_carro = $('#placa_carro')
        let erro = $('.alert')

        if (nome_paciente.val() == '' && data.val() == '' && placa_carro.val() == '') {
            erro.removeClass('d-none')
            return false
        }

        return true
    })
</script>
{% endblock scripts %}