{% extends 'base.html' %}
{% load permission_tags %}
{% block header%}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock header %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-fluid">

    <div class="container">
        <div class="row justify-content-center">

        <div class="col-md-4">
             <div class="custom-bg text-dark text-center">
        <div class="">
            <div class="text-center">
                <h1 class="display-1 fw-bold">404</h1>
               <p>"Ops! Página não encontrada.</p>
                <p class="mt-4 mb-5">A página que você está procurando não existe ou foi movida.</p>
                <a href="/" class="">
                   <h4><b>Home</b></h4> 
                </a>
            </div>
        </div>
    </div>
    </div>
        
    </div>
{% endblock content %}


