{% load static %}
<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style_pdf.css' %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css'%}" />
    <link rel="stylesheet" href="{% static 'bootstrap/js/bootstrap.js' %}" />
    {% block head%} {%endblock head%}
</head>

<body>
    {% block content %} {% endblock %}

</body>

</html>