{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">{% include 'includes/mensagens.html' %}</div>
  </div>

  <br /><br />
  <div class="row justify-content-center">
    <div class="col-md-4">
      <h4 class="text-primary text-center"><strong>Relátorio de Recibo de TFDs</strong></h4>
    </div>
  </div>

  <form method="POST" class="col-md-12 needs-validation" novalidate>
    {% csrf_token %}

    <div class="row justify-content-center mt-3">
      <div class="col-md-3">{{form.data_inicial|as_crispy_field }}</div>
      <div class="col-md-3">{{form.data_final|as_crispy_field }}</div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-md-3">{{form.pacientes|as_crispy_field }}</div>
      <div class="col-md-3">{{form.especialidade|as_crispy_field }}</div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6 mt-2">
        <div class="text-right">
          <a href="{% url 'relatorios:relatorio-recibo-tfd'%}" class="btn mr-2" style="background-color:#DADADA;">
            Limpar
            Filtros</a>
          <button type="submit" class="btn btn-primary">Gerar Relatório</button>
        </div>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-md-12  mt-4">
      {% if recibos_tfds %}
      <div class="card">
        <div class="card-header">
          <h3 class="logo">Recibos de TFDs</h3>
        </div>
        <!-- /.card-header -->
        <div class="table-responsive-md">
          <div class="card-body">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Nome Completo</th>
                  <th>CPF</th>
                  <th>CNS</th>
                  <th>Data do Recibo</th>

                </tr>
              </thead>
              <tbody>
                {%for recibo in recibos_tfds %}
                <tr>
                  <td>{{recibo.id}}</td>
                  <td>{{recibo.paciente.nome_completo}}</td>

                  <td>{{recibo.paciente.formt_cpf}}</td>

                  <td>{{recibo.paciente.cns}}</td>
                  <td>{{recibo.data|date:"d/m/Y"|default:'---'}}</td>

                  {%endfor%}
              </tbody>
            </table>
            <br />

          </div>

        </div>
      </div>
    </div>
    {%else%}
    <h5 class="text-center pt-4">Nenhum Recibo de Passagem foi encontrado.
    </h5>
    {%endif%}
  </div>
</div>
{% endblock %} {% block scripts %}
<script>
  document.getElementById('id_data_inicial').max = new Date(new Date().getTime() - new Date().getTimezoneOffset() * 60000).toISOString().split("T")[0];
  document.getElementById('id_data_final').max = new Date(new Date().getTime() - new Date().getTimezoneOffset() * 60000).toISOString().split("T")[0];



</script>
{% endblock %}