{% extends 'base.html' %} 

{% block title%}Detalhe Procedimento {%endblock title%}


{% load permission_tags %}
 {% block content %}

<div class="descricaoiner-fluid">
    {% include 'procedimento/abas_procedimento.html' %}

    {% if user|has_role:'regulacao' %}

    <div class="row m-2">

        <div class="col-md-12">
            <div class="text-right">
                <a href="{% url 'tfds:edit-procedimento' procedimento.id %}" class="btn btn-primary"><b> Editar cadastro</b>
                </a>
            </div>
        </div>

    </div>
    {%endif%}
    <div class="col-md-12 px-4">
        <br />
        <div class="row">
            <div class=" col-md-6">
                <h4 class=" text-primary"><strong>Detalhes do Procedimento </strong> </h4>

            </div>
        </div>

        <hr>

        <div class="row  d-flex justify-content-start">
            <div class="col-md-4">
                <label for="id_codigo" class="form-label">Código:</label>
                <h6 class="text-muted">{{procedimento.codigo|upper}}</h6>

            </div>
            <div class="col-md-6">
                <label for="id_nome_proced" class="form-label">Nome do Procedimento:
                    <h6 class="text-muted">{{procedimento.nome_proced|upper}}</h6>

            </div>
            
          
           
        </div>
        <div class="row d-flex justify-content-start">
            <div class="col-md-4">
                <label for="id_valor_unitario" class="form-label">Valor : </label>
                    <h6 class="text-muted">R$ {{procedimento.valor_unitario}}</h6>

            </div>
            <div class="col-md-4">
                <label for="id_valor_contrapartida" class="form-label">Valor de Contra Partida: </label>
                    <h6 class="text-muted">R$ {{procedimento.valor_contrapartida}}</h6>

            </div>
            <div class="col-md-4">
                <label for="id_subtotal" class="form-label">Total: </label>
                    <h6 class="text-muted">R$ {{procedimento.subtotal}}</h6>

            </div>
            
        </div>
        <br>

        <div class="row">
            <div class="col-md-12 mb-5">
                <a href="{% url 'tfds:list-procedimento' %}" class="btn btn-outline-primary">Voltar</a>
                               
            </div>
          </div>

    </div>
</div>
{% endblock content %}