{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block content %}

<div class="container-fluid">
  {% include 'procedimento/abas_procedimento.html' %}

  <div class="row  justify-content-center ">
    <div class="col-md-6">
      
    <br>
      <h4 class="text-primary"><strong>Cadastro de Procedimento</strong> </h4>
    </div>

    <form method="POST" enctype="multipart/form-data" autocomplete="off" class="col-12 mt-2 needs-validation" novalidate>
        {% csrf_token %}
      
        <div class="row justify-content-center ">
            <div class="col-md-6">
              
                {{form.codigo|as_crispy_field }}
            </div>

        </div>
         <div class="row justify-content-center ">
            <div class="col-md-6">
              
                {{form.nome_proced|as_crispy_field }}
            </div>

        </div>
        <div class="row justify-content-center ">
            <div class="col-md-6">
              
                {{form.valor_unitario|as_crispy_field }}
            </div>

        </div>
        <div class="row justify-content-center ">
            <div class="col-md-6">
              
                {{form.valor_contrapartida|as_crispy_field }}
            </div>

        </div>
           <div class="row justify-content-center ">
            

        </div>
         <div class="d-none" id="campo_passagem">
         <div class="row justify-content-center ">
            <div class="col-md-6">
              
                {{form.valor_passagem|as_crispy_field }}
            </div>

        </div>
        </div>
        <br>

        <div class="row justify-content-center">
            <div class="col-md-6 mb-2">
                <div class="text-right">
                    <a href="{% url 'tfds:list-procedimento'%}"
                        class="btn btn-outline-danger mr-2">Cancelar</a>
                    <button class="btn btn-primary ">Salvar</button>
                </div>
            </div>

        </div>

    </form>

</div>
</div>

{% endblock content%}

{%block scripts %}
<script src='/static/utils/jquery.formset.js'></script>

<script>

var campo=document.getElementById('campo_passagem');
var id_codigo=document.getElementById('id_codigo');
var id_valor_passagem=document.getElementById("id_valor_passagem")
id_codigo.addEventListener('change',ativa_campo)
id_codigo.addEventListener('blur',ativa_campo)

if (id_codigo.value=='0803010125' || id_codigo.value=='0803010109')
{
    campo.classList.remove('d-none')
}

function ativa_campo()
{
    console.log('teste1000')
    if (id_codigo.value=='0803010125')
    {
       campo.classList.remove('d-none')
    }
    else if(id_codigo.value =='0803010109'){
        campo.classList.remove('d-none')
    }
    else if (id_codigo.value!='0803010125' || id.id_codigo.value!='0803010109' ){
        console.log('199')
        campo.classList.add('d-none')
        id_valor_passagem.value=""

    }
   
}
</script>
 

{% endblock scripts %}