{% extends 'base.html' %}

{% block title%}
  {% if request.resolver_match.url_name == 'add-atend_especialidade' %} 
      Criar Atendimento
  {%else%} 
      Editar Atendimento
  {%endif%} 
{%endblock title%}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-fluid">
    {% include 'atendimento_especialidade/abas_atend_especialidade.html' %}
    <div class="row">
        <div class="col-md-12">
            {% include 'includes/mensagens.html'%}
        </div>
    </div>
    <br /> <br> <br>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h4 class="text-primary"><strong>Atendimento</strong> </h4>
        </div>

        <form method="POST" enctype="multipart/form-data" autocomplete="off" class="col-12 mt-2 needs-validation" novalidate>
            {% csrf_token %}

            <div class="row justify-content-center">
                <div class="row mt-2 justify-content-center">
                    <div class="col-md-6">{{ form.especialidade |as_crispy_field }}</div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-2">{{ form.data |as_crispy_field }}</div>
                    <div class="col-md-2">{{ form.hora |as_crispy_field }}</div>
                    <div class="col-md-2">{{ form.atendimento_via |as_crispy_field }}</div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-3">{{ form.local_atendimento |as_crispy_field }}</div>
                    <div class="col-md-3">{{ form.status |as_crispy_field }}</div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6">{{ form.observacao |as_crispy_field }}</div>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    {{ formset.management_form }}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="logo"><strong>Pacientes do Atendimento</strong></h4>
                                </div>
                                <div class="table-responsive-md">
                                    <div class="card-body">
                                        <table class="form table table-bordered">
                                            <thead>
                                                <tr>
                                                    {% for field in formset.empty_form.visible_fields %}
                                                        <th>{{ field.label|capfirst }}</th>
                                                    {% endfor %}
                                                </tr>
                                            </thead>
                                         <tbody>
                                                    {% for forms in formset %}
                                                        {% if forms.non_field_errors %}
                                                            <tr class="alert-row">
                                                                <td colspan="{{ formset.empty_form.visible_fields|length }}">
                                                                    <div class="alert alert-danger" role="alert">
                                                                        {{ forms.non_field_errors }}
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                        
                                                        <tr class="{% cycle 'row1' 'row2' %}">
                                                            {% for field in forms.visible_fields %}
                                                                <td>
                                                                    {% if forloop.first %}
                                                                        {% for hidden in forms.hidden_fields %}
                                                                            {{ hidden }}
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                    {{ field }}
                                                                
                                                                    {% if field.errors %}
                                                                        <div class="alert alert-danger" role="alert">
                                                                            {{ field.errors.as_ul }}
                                                                        </div>
                                                                    {% endif %}
                                                                </td>
                                                            {% endfor %}
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mb-5">
                    <div class="text-right">
                        <a href="{% url 'especialidades:list-atend_especialidade'%}" class="btn btn-outline-danger mr-2">Cancelar</a>
                        <button id="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
{% block scripts %}
  {{ form.media }}
  {{ formset.media }}
<script src='/static/utils/jquery.formset.min.js'></script>
<script>
    $(document).ready(function() {
        // Inicializa o formset. O DAL já cuida do autocomplete.
        $('table.form tr').formset({
            prefix: '{{ formset.prefix }}',
            addText: "<div><i class='fas fa-plus'></i> Adicionar Paciente</div>",
            deleteText: "<div class='btn btn-danger btn-circle'><i class='fas fa-trash'></i></div>",
            // A função 'added' é importante para inicializar o Select2 em novas linhas
            added: function(row) {
                // Aqui você pode chamar o evento de inicialização do DAL
                $(row).find('.dal-forward-to').each(function() {
                    $(this).data('autocomplete-light-function').init(this);
                });
            }
        });
    });
</script>
{% endblock scripts %}