{% extends 'base.html' %}
{% load permission_tags %}

{% block content %}
<div class="container-fluid">
  {% include 'atendimento_especialidade/abas_atend_especialidade.html' %}

  <div class="row">
    <div class="col-md-12">
        {% include 'includes/mensagens.html'%}
    </div>
</div>
{% if user|has_role:'regulacao' %}

  <div class="row ">
    <div class="col-md-12">
      <div class="text-right">
        <a href="{% url 'especialidades:add-atend_especialidade' %}" class="btn btn-primary"><b>Cadastrar Atendimento</b>
        </a>
      </div>
    </div>
  </div>
  {%endif%}
  <div class="row justify-content-center ">
    <div class="col-md-8  ">
      <h4 class=" text-primary text-center"><strong>Atendimentos</strong> </h4>
    </div>
  </div>
  <br>
  <div class="row ">
    <div class="container">
      <div class="row justify-content-center">
        <form class="col-md-8   needs-validation" action="{% url 'especialidades:list-atend_especialidade'%}" method="GET"
          id="validar-form">

          <div class="row">
            <div class="col-md-12">
              <div class="alert alert-danger d-none" role="alert">
                Digite alguma coisa para realizar a busca.
              </div>
            </div>

          </div>
          <div class="row   justify-content-center">
            <div class="col-md-8">
              <label for="buscar">Busque pelo Nome: </label>
              <input type="search" name="buscar" class="form-control" value="{{request.GET.buscar}}"
                id="buscar">

            </div>
          </div>
          <div class="row  justify-content-center ">

                    <div class="col-md-4 mt-2">
                        <label for="id_data">Data do Atendimento</label>
                        <input type="date" name="data" class="form-control" id="id_data"
                            value="{{request.GET.data}}">
                    </div>
                    <div class="col-md-4 mt-2">
                        <label for="id_status">Status:</label>
                        <select class="form-select" id="id_status" name="status">
                            <option value="" {% if request.GET.status == '0' %}selected{% endif %}>Selecione uma opção</option>
                            <option value="1" {% if request.GET.status == '1' %}selected{% endif %}>Aguardando</option>
                            <option value="2" {% if request.GET.status == '2' %}selected{% endif %}>Concluido</option>
                            <option value="3" {% if request.GET.status == '3' %}selected{% endif %}>Cancelado</option>
                        </select>
                    </div>
            </div>

          <div class="row">
            <div class="col-md-12 mt-3">
              <div class="float-right">
                <a class="btn mr-2" href="{% url 'especialidades:list-atend_especialidade'%}"
                  style="background-color:#DADADA;">
                  Limpar
                  Filtro</a>
                <button type="submit" class=" btn btn-primary ">Buscar</button>

              </div>

            </div>

          </div>

        </form>

      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="logo pt-2">Especialidades</h3>

        </div>
        <!-- /.card-header -->
        <div class="table-responsive-md">
          <div class="card-body">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th style="width: 10px">N°</th>
                  <th>Especialidade</th>
                  <th>Data do Atendimento</th>
                  <th>Status</th>
                  <th>Horário</th>
                   <th>Atendimento Via</th>
                  <th>Ação</th>
                </tr>
              </thead>
              <tbody>
                {%for atend in atend_especialidades %}
                <tr>
                   <td class="tex4">{{ forloop.counter }}</td>
                  <td>{{atend.especialidade|upper}}</td>
                  <td>{{atend.data|date:"d/m/Y"|default:'---'}}</td>
                  <td>{{atend.get_status_display}}</td>
                  <td>{{atend.hora}}</td>
                  <td>{{atend.get_atendimento_via_display}}</td>

                  <td>
                    {% if user|has_role:'regulacao,secretario,recepcao' %}

                    <a href="{% url 'especialidades:detail-atend_especialidade' atend.id%}" class="pr-1"><i
                        class="fas fa-solid fa-eye"></i></a>
                    {%endif%}

                    {% if user|has_role:'regulacao' %}

                        {% if atend.status != '2'%}
                           <a href="{% url 'especialidades:edit-atend_especialidade' atend.id%}" class="pr-1 text-warning"><i
                            class="fas fa-edit"></i></a>
                        {% elif atend.status == '2' and user|has_role:'coordenador' %}
                          <a href="{% url 'especialidades:edit-atend_especialidade' atend.id%}" class="pr-1 text-warning"><i
                              class="fas fa-edit"></i></a>
                        {%endif%}
                            
                    {%endif%}
                    {% if user|has_role:'coordenador' %}
                    <a href="{#modal--{{atend.id}}_}" data-bs-toggle="modal"
                      data-bs-target="#modal--{{atend.id}}" class="pr-2 text-danger">

                      <i class="fas fa-solid fa-trash-can"></i>
                    </a>
                    {%endif%}
                    {%if user|has_role:'coordenador,recepcao,regulacao,secretario' %}
                    <a href="{% url 'especialidades:pdf-atend_especialidade' atend.id%}"  target="_blank" class="pr-2">
                            <i class='fas fa-print'></i>

                          </a>
                    {%endif%}
                   

                  </td>
                </tr>
                {% include 'atendimento_especialidade/modal_delete_atend_especialidade.html'%}
                {%endfor%}

              </tbody>
            </table>
            <br>
            {% include 'includes/paginacao.html'%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'includes/modal_delete.html'%}
<!-- Button trigger modal -->
{% endblock content %} {% block scripts %}
<script>
    $('#validar-form').submit(function () {
        let buscar = $('#buscar')
        let data = $('#id_data')
        let status= $('#id_status')

        let erro = $('.alert')

       
        if (buscar.val() == '' && data.val() == '' && status.val()=='') {
            erro.removeClass('d-none')
            return false
        }

        return true
    })
</script>
{% endblock scripts %}