{% extends 'relatorio.html' %}
{% load static %}
{% block title %} Atendimento{% endblock %}

{% block head%} 
<style>
      
      body{

        font-size: 10px;
        font-family: Arial, Helvetica, sans-serif;
      }
      td{
     
      padding: 3px;
      text-align:center
      }
      th{
        padding: 3px;
        text-align: center;
      }
      table{

        font-size: 10px;
      }
    
</style>


{%endblock head%}
{% block content %}
  

<div class="container-fluid">
  <div class="row">
    <img style="width: 610px" src=" {% static 'img/logodasaude.png' %}" alt="">
  </div>
  <br>
  <h2 class="text-center"> <b>{{atendimento_especialidade.especialidade|upper}}</b></h2>
  <div class="row">

    <div class="row">
      <div class="col-md-12 ">
        <h3>
          <b> DATA:</b> {{atendimento_especialidade.data|date:"d/m/Y"|default:'---'}}
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp; 
          <b> HORÁRIO:</b> {{atendimento_especialidade.hora|time:"H:i"|default:'---'}}
        
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            </h3>
      </div>
    </div>
    

    <div class="row">
      <div class="col-md-8">
        <h3 ><b>LOCAL: </b>{{atendimento_especialidade.local_atendimento|upper}} 
           {%if atendimento_especialidade.observacao%}
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <b>OBSERVAÇÃO: </b>
                   {{atendimento_especialidade.observacao}}
            {%endif%}
        </h3>
      </div>
    </div>
    
  
      

     
     

     
  
     <table class="table">
      
      <thead>
        <tr>
          <th>N°</th>
          <th>Horário</th>
          <th>Paciente</th>
          <th>CNS</th>
          <th>ACS</th>
          <th>Procedimento</th>
        
        
        </tr>
      </thead>
      <tbody>
        {% for p in pacientes_set %}
        
        <tr>

          <td style="width: 10px">{{ forloop.counter }}</td>
          {%if p.hora%}
            <td class="text-center">{{p.hora|time:"H:i"|default:'---'}}</td>
          {%else%}
            <td>-</td>
          {%endif%}
          <td>{{p.paciente.paciente.nome_completo|upper}}</td>
           <td>{{p.paciente.paciente.cns|upper}}</td>
             <td>{{p.paciente.paciente.microarea.profissional.acs}}</td>
             <td>{{p.paciente.procedimento.nome_procedimento}}</td>
         
        </tr>
        
        {%endfor%}
      </tbody>
      
    </table>

 
   
 </div>
  </div>
 {% endblock content%}