{% extends 'relatorio.html' %}
{% load static %}
{% block title %} Atendimento{% endblock %}

{% block head%} 
<style>
      
      body{

        font-size: 11px;
        font-family: Arial, Helvetica, sans-serif;
      }
      td{
     
      padding: 3px;
      text-align:center
      }
      th{
        padding: 3px;
        text-align: center;
      }
      table{

        font-size: 10px;
      }
      /* Estilos CSS para posicionar a imagem */
        .header {
            position: relative; /* Contêiner de referência para a imagem */
            width: 100%;
            height: 100px; /* Altura do cabeçalho */
        }
        .minha-imagem {
            position: absolute; /* Posição absoluta em relação ao .header */
            top: 2px;
            left: 50px;
            bottom: 0px;
            width: 640px; /* Largura da imagem */
        }
       
    
</style>


{%endblock head%}
{% block content %}
  

<div class="">
  <div class="header">
    <img class="minha-imagem" src=" {% static 'img/logodasaude.png' %}" alt="">
  </div>

  <h2 class="text-center"> <b>{{atendimento_especialidade.especialidade|upper}}</b></h2>
  <div class="row">

    <div class="row">
      <div class="col-md-12 ">
        <h3>
          <b> DATA:</b> {{atendimento_especialidade.data|date:"d/m/Y"|default:'---'}}
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <b> HORÁRIO:</b> {{atendimento_especialidade.hora|time:"H:i"|default:'---'}}
        
           
            </h3>
      </div>
    </div>
    

    <div class="row">
      <div class="col-md-12 ">
        <h3 ><b>LOCAL: </b>{{atendimento_especialidade.local_atendimento|upper}} 
          
        </h3>
      </div>
      {%if atendimento_especialidade.observacao%}
      <div class="col-md-12 ">
        <h3 >
              <b>OBSERVAÇÃO: </b>
                 {{atendimento_especialidade.observacao}}
           
        </h3>
      </div>
       {%endif%}
      
    </div>
    
 
      

     
     

  </div>
  
     <table class="table">
      
      <thead>
        <tr>
          <th>N°</th>
          <th>Horário</th>
          <th>Paciente</th>
          <th>CNS</th>
         
          <th>Procedimento</th>
        
        
        </tr>
      </thead>
      <tbody>
        {% for p in pacientes_set %}
        
        <tr>

          <td style="width: 10px">{{ forloop.counter }}</td>
          {%if p.hora%}
            <td class="text-center">{{p.hora|time:"H:i"|default:'---'}}</td>
          {%else%}
            <td>-</td>
          {%endif%}
          <td>{{p.paciente.paciente.nome_completo|upper}}</td>
           <td>{{p.paciente.paciente.cns|upper}}</td>
             
             <td>{{p.paciente.procedimento.nome_procedimento}}</td>
         
        </tr>
        
        {%endfor%}
      </tbody>
      
    </table>

 
   
 </div>
  </div>
 {% endblock content%}