{% extends 'relatorio.html' %}
{% load static %}
{% block title %} Atendimento{% endblock %}

{% block head%} 
<style>
      p{
        margin: 1px;
      }
      body{

        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
      }
      td{
     
      padding: 3px;
      text-align:center
      }
      th{
        padding: 3px;
        text-align: center;
      }
      table{

        font-size: 10px;
      }
      /* Estilos CSS para posicionar a imagem */
        
       
    
</style>


{%endblock head%}
{% block content %}
{% include  'includes/cabecalho.html' %}
<div class="container">

  <h3 class="text-center mb-0"> <b>{{atendimento_especialidade.especialidade|upper}}</b></h3>
  <div class="row">

    <div class="row">
      <div class="col-md-12 ">
        <p>
          <b> DATA:</b> {{atendimento_especialidade.data|date:"d/m/Y"|default:'---'}}
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <b> HORÁRIO:</b> {{atendimento_especialidade.hora|time:"H:i"|default:'---'}}
        
           
        </p>
      </div>
    </div>
    

    <div class="row">
      <div class="col-md-12 ">
        <p class="mt-1"><b>LOCAL: </b>{{atendimento_especialidade.local_atendimento|upper}} 
          
        </p>
      </div>
      {%if atendimento_especialidade.observacao%}
      <div class="col-md-12 ">
        <p class="mt-1">
              <b>OBSERVAÇÃO: </b>
                 {{atendimento_especialidade.observacao}}
           
        </p>
      </div>
       {%endif%}
      
    </div>
    
 
      

  </div>
  
     <table class="table">
      
      <thead>
          <th>N°</th>
          <th>Horário</th>
          <th>Paciente</th>
          <th>CNS</th>
         
          <th>Procedimento</th>
        
        
        </tr>
      </thead>
      <tbody>
        {% for p in pacientes_set %}
        
        <tr>

          <td style="width: 10px">{{ forloop.counter }}</td>
          {%if p.hora%}
            <td class="text-center">{{p.hora|time:"H:i"|default:'---'}}</td>
          {%else%}
            <td>-</td>
          {%endif%}
          <td>{{p.paciente.paciente.nome_completo|upper}}</td>
           <td>{{p.paciente.paciente.form_cns}}</td>
             
             <td>{{p.paciente.procedimento.nome_procedimento}}</td>
         
        </tr>
        
        {%endfor%}
      </tbody>
      
    </table>

 
 </div>
  </div>
 {% endblock content%}