{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <br />
  {% include 'includes/mensagens.html'%}
  <div class="row ">
    <div class="col-md-12">
      <div class="text-right">
        <a href="{% url 'especialidades:add-especialidade' %}" class="btn btn-primary"><b>Cadastrar Especialidade</b>
        </a>
      </div>
    </div>
  </div>
  <div class="row justify-content-center ">
    <div class="col-md-8  ">
      <h4 class=" text-primary"><strong>Especialidades</strong> </h4>
    </div>
  </div>
  <br>
  <div class="row ">
    <div class="container">
      <div class="row justify-content-center">
        <form class="col-md-8   needs-validation" action="{% url 'especialidades:list-especialidade'%}" method="GET"
          id="validar-form">

          <div class="row">
            <div class="col-md-12">
              <div class="alert alert-danger d-none" role="alert">
                Digite alguma coisa para realizar a busca.
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-12">
              <label for="search_nome"><strong> Busque pelo Nome:</strong></label>
              <input type="search" name="busca_nome" class="form-control" value="{{request.GET.busca_nome}}"
                id="search_nome">

            </div>
          </div>

          <div class="row">
            <div class="col-md-12 mt-3">
              <div class="float-right">
                <a class="btn mr-2" href="{% url 'especialidades:list-especialidade'%}"
                  style="background-color:#DADADA;">
                  Limpar
                  Filtro</a>
                <button type="submit" class=" btn btn-primary ">Buscar</button>

              </div>

            </div>

          </div>

        </form>

      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="logo pt-2">Especialidades</h3>

        </div>
        <!-- /.card-header -->
        <div class="table-responsive-md">
          <div class="card-body">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th style="width: 10px">id</th>
                  <th>Nome da Especialidade</th>
                  <th>Opção</th>
                </tr>
              </thead>
              <tbody>
                {%for especialidade in especialidades %}
                <tr>
                  <td>{{especialidade.id}}</td>
                  <td>{{especialidade.nome|upper}}</td>

                  <td>

                    <a href="{% url 'especialidades:list-paciente-especialidade' especialidade.id%}" class="pr-1"><i
                        class="fas fa-solid fa-eye"></i></a>

                    <a href="{% url 'especialidades:edit-especialidade' especialidade.id%}" class="pr-1 text-warning"><i
                        class="fas fa-edit"></i></a>

                    <a href="#modal--{{especialidade.id}}" data-bs-toggle="modal"
                      data-bs-target="#modal--{{especialidade.id}}" class="pr-2 text-danger">

                      <i class="fas fa-solid fa-trash-can"></i>
                    </a>
                  </td>
                </tr>
                {% include 'especialidade/modal_delete_especialidade.html'%}
                {%endfor%}

              </tbody>
            </table>
            <br>
            {% include 'includes/paginacao.html'%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'includes/modal_delete.html'%}
<!-- Button trigger modal -->
{% endblock content %} {% block scripts %}
<script>
  $('#validar-form').submit(function () {
    let nome = $('#search_nome')
    let erro = $('.alert')

    if (nome.val() == '') {
      erro.removeClass('d-none')
      nome.addClass('is-invalid')
      return false
    }

    return true
  })
</script>
{% endblock scripts %}