{% extends 'relatorio.html' %}
{% load static %}
{% block title %}Relatorio{% endblock %}

{% block head%}
<style>
  body {

    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
  }

  td {

    padding: 2px;
    text-align: center
  }

  th {
    padding: 2px;
    text-align: center;
  }

  table {

    font-size: 13px;
  }

  p {
    margin: 0;
  }
</style>

{%endblock head%}
{% block content %}

{% include 'includes/cabecalho.html' %}
<div class="conteudo">
  <h2 class="text-center"> <b>Relatório de Atendimentos </b></h2>

  <div class="row">
    <div class="col-md-12">
      <p class="p-1"><b>Período: </b>{{inicial}} a {{final}}

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;
        <b> Data do relatório:</b> {{data}}

      </p>
    </div>

    <div class="col-md-12 pt-1">
      <p class="p-1">
        <b>Registros identificados: </b>{{qta_atendimeento}}
      </p>

    </div>


 
</div>
  

    <br>
    <table class="table">
      <thead>
        <tr>
          <th>ITENS</th>
          <th>ESPECIALIDADE</th>
          <th>CONCLUIDO</th>
          <th>AUSENTE</th>
          <th>ATENDIMENTO VIA</th>
          <th>DATA DO ATENDIMENTO</th>
        

        </tr>
      </thead>
      <tbody>
        {% for a in atendimentos %}

        <tr>

          <td>{{ forloop.counter }}</td>
          <td>{{a.especialidade}}</td>
          <td>{{a.qta_paciente_especialidade_concluido}}</td>
          <td>{{a.qta_paciente_especialidade_ausente}}</td>
          <td>{{a.get_atendimento_via_display}}</td>
          <td>{{a.data|date:"d/m/Y"|default:'---'}}</td>
        </tr>

        {%endfor%}
      </tbody>

    </table>
  </div>

  {% endblock %}