{% extends 'relatorio.html' %}
{% load static %}
{% block title %}Relatorio{% endblock %}

{% block head%}
<style>
    body {

        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }

    td {

        padding: 2px;
        text-align: center
    }

    th {
        padding: 2px;
        text-align: center;
    }

    table {

        font-size: 13px;
    }

    p {
        margin: 0;
    }
</style>


{% endblock%}
{% block content %}

{% include  'includes/cabecalho.html' %}
<div class="container-fluid">
  <h3 class=" text-center "><b>Relatório de Especialidades</b></h3>
  <br/>
     <div class="row">
       <div class="col-md-12 m-2">
          <p class="p-1";>
            <b>Registros identificados: </b>{{qta_especialidade}}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
            <b>Data: {{data}}</b> 
        </p>
      </div>
     </div>
      <div class="linha"></div>
  <br/>
 
    
    <table border=" 1" class="table">
      <thead>
        <tr>
          <th>Itens</th>
          <th>Especialidade</th>
          <th>Quantidade</th>
          <th>Eletivo</th>
          <th>Urgência</th>
          <th>Prioridade</th>
          <th>Concluido</th>
        </tr>
      </thead>
      <tbody>
        {% for e in especialidades %}
        
        <tr>

          <td>{{ forloop.counter }}</td>
          <td>{{e.nome|upper}}</td>
          <td>{{e.qta_pessoas_especialidade}}
         </td>
          <td>{{e.qta_pessoas_eletivo_especialidade}}
          </td>
          <td>{{e.qta_pessoas_urgencia_especialidade}}</td>
          <td>{{e.qta_pessoas_prioridade_especialidade}}</td>
          <td>{{e.qta_pessoas_concluido_especialidade}}</td>
        
        </tr>
        {%endfor%}
      </tbody>
      
    </table>
 
 
</div>

{% endblock %}