{% extends 'base.html' %} {% load crispy_forms_tags %}
{% block content %}

<div class="container-fluid">
  {% include 'cidadao/abas_cidadao.html' %}
  <div class="row">
    <div class="col-md-12">
        {% include 'includes/mensagens.html'%}
    </div>
</div>

  <div class="col-12 m-2 pl-3">
    <h4 class=" text-primary"><b>Cadastro de Cidadão </b> </h4>
  </div>

 {% comment %}  <div class="col-12 pl-3">
    {% bootstrap_form_errors form %}
  </div>

  <div class="col-12 pl-3">
    {% bootstrap_form_errors endereco %}
  </div> {% endcomment %}

  <br>
  <form method="POST" enctype="multipart/form-data" autocomplete="off" class="col-12 px-4 needs-validation" novalidate>
    <fieldset>
      {% csrf_token %}
      <legend class="text-primary"> <b> Dados Pessoal</b> </legend>
      <hr>
      <br>
      <div class="row mt-2">
        <div class="col-md-6">{{form.nome_completo|as_crispy_field }}
        </div>
        <div class="col-md-6">{{form.email|as_crispy_field }}</div>

      </div>
      <div class="row">
        <div class="col-md-3">{{form.rg  |as_crispy_field }}</div>
        <div class="col-md-3">{{form.cpf |as_crispy_field }}</div>
        <div class="col-md-3">{{form.cns |as_crispy_field }}</div>
        <div class="col-md-3">{{form.sexo|as_crispy_field }}</div>
      </div>
      <div class="row">
        <div class="col-md-3">{{form.dt_nascimento|as_crispy_field }}</div>
        <div class="col-md-3">{{form.telefone|as_crispy_field }}</div>
        <div class="col-md-3">{{form.telefone1|as_crispy_field }}</div>
        <div class="col-md-3">{{form.microarea|as_crispy_field }}</div>
       
      </div>

      <div class="row">
        <div class="col-md-3">{{form.raca|as_crispy_field }}</div>
        <div class="col-md-3">{{form.nacionalidade|as_crispy_field }}</div>
        <div class="col-md-3">{{form.nome_mae|as_crispy_field }}</div>
        <div class="col-md-3">{{form.nome_pai|as_crispy_field }}</div>
      </div>
      <br>
      <legend class="text-primary"><b>Endereço</b> </legend>
      <hr>
      <div class="row">
        <div class="col-md-2">{{endereco.cod_logradouro|as_crispy_field }}</div>
        <div class="col-md-4">{{endereco.logradouro|as_crispy_field }}</div>
        <div class="col-md-1">{{endereco.numero|as_crispy_field }}</div>

        <div class="col-md-3">{{endereco.bairro|as_crispy_field }}</div>
        <div class="col-md-2">{{endereco.complemento|as_crispy_field }}</div>
      </div>
      <div class="row">
        <div class="col-md-3">{{endereco.cep   |as_crispy_field }}</div>
        <div class="col-md-4">{{endereco.cidade|as_crispy_field }}</div>
        <div class="col-md-1">{{endereco.estado|as_crispy_field }}</div>
        <div class="col-md-2">{{endereco.localizacao|as_crispy_field }}</div>
      </div>
    </fieldset>
    <br />
    <div class="row">
      <div class="col-md-12 mb-5">
        <div class="text-right">
          <a href="{% url 'cidadao:list-cidadao'%}" class="btn btn-outline-danger mr-2">Cancelar</a>
          <button class="btn btn-primary">Salvar</button>
        </div>
      </div>
    </div>
  </form>
  <br /><br /><br />
</div>
</div>


{% endblock %}
{%block scripts %}
<script src="/static/utils/buscacep.js"></script>

{% comment %} 
<script>
 
  

  var verificarCPF = function () {
    var cpf = document.getElementById("id_cpf");
    cpf.setAttribute("readonly", "readonly");

    if (cpf.value == '') {
      cpf.removeAttribute("readonly");
    }
    if (cpf.classList.contains('is-invalid')) {
      cpf.removeAttribute("readonly");
    }
  };
  verificarCPF();
</script>
{% endcomment %}
{% endblock scripts %} 