{% extends 'base.html' %}
{% load bootstrap5 %}



class CidadaoCreateView(CreateView):

    model=Cidadao
    form_class=CidadaoForm
    template_name='cidadao/form_cidadao.html'
    success_url=reverse_lazy('cidadao:list-cidadao')
 
    def get_context_data(self,*args,**kwargs):
        context = super(CidadaoCreateView,self).get_context_data(*args, **kwargs)
        context["form"] = CidadaoForm()
        context['endereco']=EnderecoForm()
        context['title']='Cadastro Cidadão'
        return context
    
    def post(self, request,*args, **kwargs):
        cidadao_form=CidadaoForm(data=request.POST)
        endereco_form=EnderecoForm(data=request.POST)

        if cidadao_form.is_valid() and endereco_form.is_valid():
            endereco=endereco_form.save()
            cidadao=cidadao_form.save(commit=False)
            cidadao.endereco=endereco
            cidadao.save()
        return HttpResponseRedirect(reverse('cidadao:list-cidadao'))


class CidadaoUpdateView(UpdateView):
    model=Cidadao
    form_class=CidadaoForm
    template_name='cidadao/form_cidadao.html'
    success_url=reverse_lazy('cidadao:list-cidadao')


    def get_context_data(self,**kwargs):
        context = super(CidadaoUpdateView,self).get_context_data( **kwargs)
        
        context["form"] = CidadaoForm(instance=self.object)
        context['endereco']=EnderecoForm(instance=self.object.endereco)
        context['title']='Cadastro Cidadão'
        return context
    
    def post(self, request,*args, **kwargs):
        cidadao1=Cidadao.objects.get(id=kwargs['pk'])
        cidadao_form=CidadaoForm(data=request.POST or None, instance=cidadao1)
        endereco_form=EnderecoForm(data=request.POST or None, instance=cidadao1.endereco)

        if cidadao_form.is_valid() and endereco_form.is_valid():
            endereco=endereco_form.save()
            cidadao=cidadao_form.save(commit=False)
            cidadao.endereco=endereco
            cidadao.save()
        return HttpResponseRedirect(reverse('cidadao:list-cidadao'))


class CidadaoListView(ListView):
    model=Cidadao
    template_name='cidadao/list_cidadao.html'
    context_object_name='pacientes'
    
class CidadaoDetailView(DetailView):
    model=Cidadao
    template_name='cidadao/detail_cidadao.html'
    
    
    def get_context_data(self, *args, **kwargs):
        context=super().get_context_data(*args, **kwargs)
       
        context={
            'title':'Detalhe do Cadastro',
            'form_title':'Dados Pessoais',
            'endereco_title':'Endereco',
            'paciente': Cidadao.objects.get(pk=self.kwargs['pk'])
        }
        return context
class CidadaoCreateView(CreateView):
    
    model=Cidadao
    form_class=CidadaoForm
    template_name='cidadao/form_cidadao.html'
    success_url=resolve_url('cidadao:list-cidadao')
 
    def get_context_data(self,*args,**kwargs):
        context = super().get_context_data(*args, **kwargs)
        context["form"] = CidadaoForm()
        context['endereco']=EnderecoForm()
        context['title']='Cadastro Cidadão'

        return context
    



{% block content %}
 
    <div class="container-fluid">

        <br><br><br>
        <div class="row">
       
         <form method="POST"  enctype="multipart/form-data" autocomplete="off" class="col-12 ">
                <fieldset>
                    {% csrf_token %}
                    <legend>Dados Pessoais</legend>
                    <div class="row">

                        <div class="col-md-6">
                             {% bootstrap_field form.nome_completo%} 
                        </div>
                        <div class="col-md-6">
                             {% bootstrap_field form.email%} 
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                             {% bootstrap_field form.rg%} 
                        </div>
                         <div class="col-md-2">
                             {% bootstrap_field form.cpf%} 
                        </div>
                        <div class="col-md-2">
                            {% bootstrap_field form.dt_nascimento%} 
                       </div>
                       <div class="col-md-2">
                        {% bootstrap_field form.telefone%} 
                         </div>
                         <div class="col-md-2">
                            {% bootstrap_field form.telefone1%} 
                             </div>
                             <div class="col-md-4">
                                {% bootstrap_field form.sexo %} 
                                 </div>
                        
                    </div>
                    <div class="row">
                       
                         <div class="col-md-4">
                             {% bootstrap_field form.telefone%} 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                             {% bootstrap_field form.nome_mae%} 
                        </div>
                        <div class="col-md-6">
                             {% bootstrap_field form.nome_pai%} 
                        </div>
                        </div>

                    </div>
                    <legend>Endereço</legend>
                    <div class="row">
                        <div class="col-md-6">
                            {% bootstrap_field form.endereco.logradouro%} 
                       </div>
                    </div>
                   
                </fieldset>
            
                <button class="btn btn-success">Salvar</button>
          </form>
            </div>  
    </div>
 
   {% endblock %}


