{% extends 'base.html' %} 
{% load static %}


{% block content %}
<div class="container-fluid">
  {% include 'cidadao/abas_cidadao.html' %}
  <div class="row">
    <div class="col-md-12">
        {% include 'includes/mensagens.html'%}
    </div>
</div>

  <div class="row mb-1">
    <div class="col-md-12">

      <div class="text-right">
        <a href="{% url 'cidadao:add-cidadao' %}" class="btn btn-primary"><b>Cadastrar Cidadão</b>
        </a>
      </div>
    </div>
  </div>
  <div class="row justify-content-center ">
    <div class="col-md-8">
      <h4 class=" text-primary"><strong>Cidadão</strong> </h4>
    </div>
  </div>

  <br>

  <div class="row ">
    <div class="container">
      <div class="row  justify-content-center">

        <form class="col-md-8  needs-validation" action="{% url 'cidadao:search-cidadao'%}" method="GET"
          id="validar-form">

          <div class="row">
            <div class="col-md-12">
              <div class="alert alert-danger d-none" role="alert">
                Insira algum filtro para realizar a busca.
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-12">
              <label for="search_nome_cpf"><strong> Busque pelo Nome/CPF</strong></label>
              <input type="search" name="search_nome_cpf" class="form-control" value="{{request.GET.search_nome_cpf}}"
                id="search_nome_cpf">

            </div>
          </div>
          <div class="row">
            <div class="col-md-5 mt-2">
              <label for="search_dt_nascimento">Data de Nascimento</label>
              <input type="date" name="search_dt_nascimento" class="form-control" id="search_dt_nascimento"
                value="{{request.GET.search_dt_nascimento}}">

            </div>
            <div class="col-md-7 mt-2">
              <label for="search_nome_mae">Nome da Mãe</label>
              <input type="search" name="search_nome_mae" class="form-control" id="search_nome_mae"
                value="{{request.GET.search_nome_mae}}">

            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mt-3">

              <div class="float-right">
                <a class="btn mr-2" href="{% url 'cidadao:list-cidadao'%}" style="background-color:#DADADA;"> Limpar
                  Filtros</a>
                <button type="submit" class=" btn btn-primary ">Buscar</button>

              </div>

            </div>
          </div>
        </form>
      </div>
    </div>

  </div>



  <div class="row">
    <div class="col-md-12 mt-4">
      {% if pacientes %}
      <div class="card">
        <div class="card-header">
          <h3 class="logo pt-2">Cidadãos
          </h3>
        </div>
        <!-- /.card-header -->


        <div class="table-responsive-md">
          <div class="card-body">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Nome Completo</th>
                  <th>CPF</th>
                  <th>CNS</th>
                  <th>Data de Nascimento</th>
                  <th>Mãe</th>
                  <th>Ação</th>
                </tr>
              </thead>
              <tbody>


                {%for paciente in pacientes %}
                <tr>
                  <td id="paciente_id">{{paciente.id}}</td>
                  <td id="paciente_nome">{{paciente.nome_completo}}</td>

                  <td>{{paciente.formt_cpf}}</td>

                  <td>{{paciente.cns}}</td>
                  <td>{{paciente.dt_nascimento|date:"d/m/Y"|default:'---'}}</td>
                  <td>{{paciente.nome_mae}}</td>
                  <td>
                    <a href="{% url 'cidadao:detail-cidadao' paciente.id%}" class="pr-2"><i
                        class="fas fa-solid fa-eye"></i></a>
                    <a href="{% url 'cidadao:edit-cidadao' paciente.id%}" class="pr-1 text-warning"><i
                        class="fas fa-edit"></i></a>
                    <a type="button" data-bs-toggle="modal" data-bs-target="#modal--{{paciente.id}}"
                      class="pr-2 text-danger">
                      <i class="fas fa-solid fa-trash-can"></i>
                    </a>
                  </td>
                </tr>
                {% include 'cidadao/modal_delete_cidadao.html'%}




                {%endfor%}

              </tbody>
            </table>
            <br />
            {% include 'cidadao/paginacao_cidadao.html'%}
          </div>
        </div>
        {%else%}
        <hr>
        <h5 class="text-center pt-4">Nenhum Cidadão encontrado.
        </h5>
        {%endif%}
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
{% endblock content %} {% block scripts %}
<script>
  $('#validar-form').submit(function () {
    let nome_cpf = $('#search_nome_cpf')
    let nome_mae = $('#search_nome_mae')
    let data_nascimento = $('#search_dt_nascimento')
    let erro = $('.alert')

    if (nome_cpf.val() == '' && data_nascimento.val() == '' && nome_mae.val() == '') {
      erro.removeClass('d-none')
      return false
    }

    return true
  })
</script>
{% endblock scripts %}