{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
  <br />
  <!-- Modal -->
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="text-right">
        <a href="{% url 'cidadao:add-cidadao' %}" class="btn btn-primary"><b>Cadastrar Cidadão</b>
        </a>
      </div>
    </div>
    <div class="container">
      <div class="row ">
        <div>
          <form class="col-md-10  offset-md-2">
            <div class="row">
              <div class="col-md-10">
                <label for="search_nome"><strong> Buscar pelo Nome/CPF</strong></label>
                <input type="search" class="form-control" name="search_nome_cpf" id="search_nome"
                  value="{{request.GET.search_nome_cpf}}">
              </div>
            </div>
            <div class=" row">

              <div class="col-md-3 mt-2">
                <label for="id_td_nascimento">Data de Nascimento</label>
                <input type="date" class="form-control" id="id_td_nascimento">

              </div>
              <div class="col-md-7 mt-2">
                <label for="id_nome_mae">Nome da Mãe</label>
                <input type="text" class="form-control" id="id_nome_mae">

              </div>
            </div>
            <div class="row">
              <div class="col-md-10 mt-3">
                <div class="float-right">
                  <a class=" btn btn-info m-2"><i class="fa-solid fa-filter"></i> Filtros</a>
                  <button type="submit" class=" btn btn-primary">Buscar</button>

                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>

  </div>
  <div class="row">
    <div class="col-md-12 mt-2">
      <div class="card">
        <div class="card-header">
          <h3 class="logo pt-2">Pacientes
          </h3>
        </div>
        <!-- /.card-header -->
        <div class="table-responsive-md">
          <div class="card-body">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Nome Completo</th>
                  <th>CPF</th>
                  <th>CNS</th>
                  <th>Opção</th>
                </tr>
              </thead>
              <tbody>
                {%for paciente in pacientes %}
                <tr>
                  <td id="paciente_id">{{paciente.id}}</td>
                  <td id="paciente_nome">{{paciente.nome_completo}}</td>

                  <td>{{paciente.formt_cpf}}</td>

                  <td>{{paciente.cns}}</td>
                  <td>
                    <a href="{% url 'cidadao:detail-cidadao' paciente.id%}" class="pr-2"><i
                        class="fas fa-solid fa-eye"></i></a>
                    <a href="{% url 'cidadao:edit-cidadao' paciente.id%}" class="pr-1 text-warning"><i
                        class="fas fa-edit"></i></a>
                    <a type="button" data-bs-toggle="modal" data-bs-target="#modal--{{paciente.id}}"
                      class="pr-2 text-danger">
                      <i class="fas fa-solid fa-trash-can"></i>
                    </a>
                  </td>
                </tr>
                {% include 'cidadao/modal_delete_cidadao.html'%}
                {%endfor%}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
{% endblock content %} {% block scripts %}

{% endblock scripts %}