{% extends 'base.html' %} {% load bootstrap5 %} {% block content %}

<div class="descricaoiner-fluid">
    <br />

    <div class="row m-2">

        <div class="col-md-12">
            <div class="text-right">
                <a href="{% url 'tfds:edit-recibo_tfd' recibo_tfd.id %}" class="btn btn-primary"><b>Editar Recibo do
                        TFD</b>
                </a>
            </div>
        </div>

    </div>

    <div class="col-md-12 px-4">
        <br />
        <div class="row">
            <div class=" col-md-6">
                <h4 class=" text-primary"><strong>Detalhe do Recibo do TFD</strong> </h4>

            </div>
        </div>

        <br />


        <div class="row">
            <div class="col-md-3">
                <label for="id_paciente" class="form-label">Nome do Paciente:</label>
                <h6 class="text-muted">{{recibo_tfd.paciente.nome_completo|upper}}</h6>

            </div>
            <div class="col-md-3">
                <label for="id_acompanhante" class="form-label">Nome do Acompanante:
                    {% if recibo_tfd.acompanhante%}
                    <h6 class="text-muted">{{recibo_tfd.acompanhante.nome_completo|upper}}</h6>
                    {%else%}
                    <h6 class="text-muted">-</h6>
                    {%endif%}

            </div>
            <div class="col-md-3">
                <label for="id_data" class="form-label">Data:
                    <h6 class="text-muted">{{recibo_tfd.data|date:"d/m/Y"|default:'---'}}</h6>

            </div>
            <div class="col-md-3">
                <label for="id_grs" class="form-label">GRS:
                    <h6 class="text-muted">{{recibo_tfd.grs|upper}}</h6>

            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">
                <label for="id_especialidade" class="form-label">Especialidade:</label>
                <h6 class="text-muted">{{recibo_tfd.especialidade|upper}}</h6>

            </div>
            <div class="col-md-3">
                <label for="id_municipio_origem" class="form-label">Municipio Origem:</label>
                <h6 class="text-muted">{{recibo_tfd.municipio_origem|upper}}</h6>

            </div>
            <div class="col-md-3">
                <label for="id_municipio_destino" class="form-label">Municipio de Destino:</label>
                <h6 class="text-muted">{{recibo_tfd.municipio_destino|upper}}</h6>

            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class=" logo"><b>Código SIA/SUS</b> </h4>
                    </div>
                    <div class="table-responsive-md">
                        <div class="card-body">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>

                                        <th class="text-center">Código</th>
                                        <th class="text-center">Valor</th>
                                        <th class="text-center">Quantidade</th>
                                        <th class="text-center">Valor Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for r in recibo_codigo.all%}
                                    <div class="table-responsive-md">

                                        <tr>
                                            <td>{{r.codigo}}</td>

                                            <td class="text-center">{{r.valor_unitario}}</td>


                                            <td class="text-center">
                                                {{r.qtd_procedimento}}

                                            </td>
                                            <td class="text-center">
                                                {{r.valor_total}}

                                            </td>


                                        </tr>



                                        {%endfor%}

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td colspan="1" class="text-end"><b>
                                                <h6>Total:</h6>
                                            </b> </td>
                                        <td class="text-center"><b>
                                                <h6>R$ {{ recibo_tfd.total_pag}}</h6>
                                            </b> </td>
                                    </tr>

                                </tfoot>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}