{% extends 'base.html' %}
{% block title%}Detalhe Recibo de TFD {%endblock title%}

{% load humanize %}
{% load crispy_forms_tags %}
 {% block content %}
{% load permission_tags %}

<div class="descricaoiner-fluid">
    {% include 'recibo_tfd/abas_recibo_tfd.html' %}

    {% if user|has_role:'regulacao' %}
    <div class="row m-2">

        <div class="col-md-12">
            <div class="text-right">
                <a href="{% url 'tfds:edit-recibo_tfd' recibo_tfd.id %}" class="btn btn-primary"><b>Editar Recibo do
                        TFD</b>
                </a>
            </div>
        </div>

    </div>
    {%endif%}
    <div class="col-md-12 px-4">
        <br />
        <div class="row">
            <div class=" col-md-6">
                <h4 class=" text-primary"><strong>Detalhe do Recibo do TFD</strong> </h4>

            </div>
        </div>
        <br>
        <hr>
        <legend class="text-primary"><b>Dados do Paciente</b></legend>
        <div class="row mt-2">
            <div class="col-md-4">
                <label for="id_paciente" class="form-label">Nome do Paciente:</label>
                <h6 class="text-muted">{{recibo_tfd.paciente.nome_completo|upper}}</h6>

            </div>
            <div class="col-md-2">
                <label for="id_cpf" class="form-label">CPF:</label>
                    <h6 class="text-muted" id="id_cpf">{{recibo_tfd.paciente.formt_cpf}}</h6>

            </div>      
            <div class="col-md-2">
                <label for="id_cns" class="form-label">CNS:</label>
                    <h6 class="text-muted" id="id_cns">{{recibo_tfd.paciente.cns}}</h6>

            </div> 
             <div class="col-md-2">
                <label for="id_cns" class="form-label">RG :</label>
                    {% if recibo_tfd.paciente.rg%}
                    <h6 class="text-muted">{{recibo_tfd.paciente.rg}}</h6>
                    {%else%}
                    <h6 class="text-muted">-</h6>
                    {%endif%}
            </div>  
            <div class="col-md-2">
                <label for="id_data" class="form-label">Data:</label>
                    <h6 class="text-muted">{{recibo_tfd.data|date:"d/m/Y"|default:'---'}}</h6>

            </div>       
        </div>
        <br>
        <hr>
        <legend class="text-primary"><b>Dados do Acompanhante</b></legend>
        <div class="row">
           
            <div class="col-md-4">
                <label for="id_acompanhante" class="form-label">Nome do acompanhante:</label>
                    {% if recibo_tfd.acompanhante%}
                    <h6 class="text-muted">{{recibo_tfd.acompanhante.nome_completo|upper}}</h6>
                    {%else%}
                    <h6 class="text-muted">-</h6>
                    {%endif%}
    
            </div>
            <div class="col-md-2">
                <label for="id_cpf" class="form-label">CPF:</label>
                    {% if recibo_tfd.acompanhante.cpf%}
                    <h6 class="text-muted">{{recibo_tfd.acompanhante.formt_cpf}}</h6>
                    {%else%}
                    <h6 class="text-muted">-</h6>
                    {%endif%}
            </div>
            <div class="col-md-2">
                <label for="id_cns" class="form-label">CNS:</label>
                    {% if recibo_tfd.acompanhante.cns%}
                    <h6 class="text-muted">{{recibo_tfd.acompanhante.cns}}</h6>
                    {%else%}
                    <h6 class="text-muted">-</h6>
                    {%endif%}
            </div>
            <div class="col-md-2">
                <label for="id_cns" class="form-label">RG :</label>
                    {% if recibo_tfd.acompanhante.rg%}
                    <h6 class="text-muted">{{recibo_tfd.acompanhante.rg}}</h6>
                    {%else%}
                    <h6 class="text-muted">-</h6>
                    {%endif%}
            </div>
        </div>
        <br>
        <hr>
       
    
        <legend class="text-primary"><b>Dados do Recibo</b></legend>
        <div class="row mt-2">
            <div class="col-md-3">
                <label for="id_grs" class="form-label">GRS:</label>
                    <h6 class="text-muted">{{recibo_tfd.grs|upper}}</h6>

            </div>
            <div class="col-md-2">
                <label for="id_especialidade" class="form-label">Especialidade:</label>
                <h6 class="text-muted">{{recibo_tfd.especialidade|upper}}</h6>

            </div>
     
            <div class="col-md-4">
                <label for="id_municipio_origem" class="form-label">Município Origem:</label>
                <h6 class="text-muted">{{recibo_tfd.municipio_origem|upper}}</h6>

            </div>
            <div class="col-md-3">
                <label for="id_municipio_destino" class="form-label">Município de Destino:</label>
                <h6 class="text-muted">{{recibo_tfd.municipio_destino|upper}}</h6>

            </div>
        </div>
         <hr>
        <legend class="text-primary"><b> Dados Bancário</b></legend>
        <div class="row mt-2">

            {%if recibo_tfd.pagamento_por == "1"%}
            <div class="col-md-3">
                <label for="id_grs" class="form-label">PIX:</label>
                    <h6 class="text-muted">{{recibo_tfd.pix|upper}}</h6>

            </div>
            {%else%}
            <div class="col-md-3">
                <label for="id_grs" class="form-label">Agência:</label>
                    <h6 class="text-muted">{{recibo_tfd.agencia|upper}}</h6>

            </div>
            <div class="col-md-3">
                <label for="id_grs" class="form-label">Conta:</label>
                    <h6 class="text-muted">{{recibo_tfd.conta|upper}}</h6>

            </div>
            
            {%endif%}
            <div class="col-md-3">
                <label for="id_grs" class="form-label">Atendimento  fora do estado:</label>
                    <h6 class="text-muted">{{recibo_tfd.get_atend_fora_estado_display}}</h6>

            </div>
           
            
        </div>
        <hr>
        <div class="row">
            <legend class="text-primary"><b>Fonte de Pagamento</b></legend>
            <div class="col-md-3">
                <label for="id_pg_fonte" class="form-label">Fonte:</label>
               <h6 class="text-muted">{{recibo_tfd.get_pg_fonte_display}}</h6>
            </div>
             <div class="col-md-3">
               <label for="id_pg_conta" class="form-label">Conta:</label>
               <h6 class="text-muted">{{recibo_tfd.get_pg_conta_display}}</h6>
            </div>
           
        </div>
        <br>
        <hr>
        
        
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class=" logo"><b>Código SIA/SUS</b> </h4>
                    </div>
                    <div class="table-responsive-md">
                        <div class="card-body">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>

                                        <th class="text-center">Código</th>
                                        <th class="text-center">Quantidade</th>
                                        <th class="text-center">VLR UNIT. T.SIGTAP</th>
                                        <th class="text-center">VLR TOTAL T.SIGTAP</th>
                                        <th class="text-center">VLR COMP. MUNICIPAL</th>
                                        <th class="text-center">Valor Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for r in procedimentos %}
                                    <div class="table-responsive-md">

                                        <tr>
                                            <td>{{r.codigosia.codigo}}</td>
                                             <td class="text-center">
                                                {{r.qtd_procedimento}}

                                            </td>

                                            <td class="text-center"> R$ {{r.valor_unid_sigtap}}</td>
                                             <td class="text-center">
                                                R$ {{r.valor_total_sigtap|intcomma}}
                                                
                                            </td>
                                             <td class="text-center">
                                               R$ {{r.valor_comp_mun|intcomma}}
                                                        
                                            </td>   

                                           

                                           
                                            <td class="text-center">
                                                R$ {{r.soma|intcomma}}

                                            </td>


                                        </tr>



                                        {%endfor%}

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td colspan="3" class="text-end"><b>
                                                <h6><b>Total</b>:</h6>
                                            </b> </td>
                                        <td class="text-center"><b>
                                                <h6><b>R$ {{recibo_tfd.total_pag}}</b></h6>
                                            </b> </td>
                                    </tr>

                                </tfoot>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if user|has_role:'secretario' %}

            <form action="{% url 'tfds:status-recibo-tfd'  recibo_tfd.id %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-3">{{form.status|as_crispy_field }}
                    </div>
                
                    <div class="col-md-3 mt-4"> <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </div>
            
            </form>

    {%endif%}
        <div class="row">
            <div class="col-md-12 mb-4">
                <a href="{% url 'tfds:list-recibo_tfd' %}" class="btn btn-outline-primary">Voltar</a>
                               
            </div>
          </div>
          <br/>
          
    </div>
</div>
{% endblock content %}