{% extends 'base.html' %}
{% block title%}
  {% if request.resolver_match.url_name == 'add-recibo_tfd' %} 
      Criar Recibo de TFD 
  {%else%} 
      Editar Recibo de TFD 
  {%endif%} 
{%endblock title%}
{% load crispy_forms_tags %}



{% load widget_tweaks %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid">
  {% include 'recibo_tfd/abas_recibo_tfd.html' %}

  <div class="row">
    <div class="col-md-12">
      {% include 'includes/mensagens.html'%}
    </div>
  </div>

  <div class="col-12 m-2 pl-3">
    <h4 class=" text-primary"><b>Tratamento Fora do Domicílio-TFD</b> </h4>
  </div>
  <br>
  <form method="POST" enctype="multipart/form-data" autocomplete="off"
    class="col-12 px-4 needs-validation" novalidate>
    {% csrf_token %}
    <fieldset>
      <legend class="text-primary"><b>Dados Recibo do TFD</b> </legend>
      <hr>
      <br>
      <div class="row mt-2">
        <div class="col-md-4">{{form.paciente|as_crispy_field }}
        </div>
        <div class="col-md-2">{{form.data|as_crispy_field }}</div>
        <div class="col-md-2">{{form.tem_acompanhante|as_crispy_field}}</div>
        <div class="col-md-2"> {{form.pagamento_por|as_crispy_field}}</div>
        <div class="col-md-2"> {{form.atend_fora_estado|as_crispy_field}}</div>

      </div>

      <div class="d-none" id="campos">
        <div class="row">
          <legend class="text-primary"><b>Dados do acompanhante</b> </legend>
          <div class="col-md-4">{{form.acompanhante|as_crispy_field }}</div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-3">{{form.municipio_origem|as_crispy_field }}</div>
        <div class="col-md-4">{{form.municipio_destino|as_crispy_field }}</div>
        <div class="col-md-2">{{form.grs|as_crispy_field }}</div>
        <div class="col-md-3">{{form.especialidade|as_crispy_field }}</div>

      </div>
      <div class="row">
                <div class="col-md-4">{{form.unid_assistencial|as_crispy_field }}</div>
                  
                 <div class="col-md-3">{{form.pg_fonte|as_crispy_field }}</div>
                 <div class="col-md-3">{{form.pg_conta|as_crispy_field }}</div>
      </div>
      <div class="row mt-2">
        <div class="d-none" id="campos_fora_estado">
          <div class="row">
             <legend class="text-primary"><b>Fora do Estado </b> </legend>
            <div class="col-md-2">{{form.qta_proced|as_crispy_field }}</div>
            <div class="col-md-2">{{form.valor_passagem|as_crispy_field }}</div>
          </div>

        </div>
        <div class="d-none" id="campos_conta">
          <div class="row">
            <legend class="text-primary"><b>Dados Bancário </b> </legend>
            <div class="col-md-2">{{form.agencia|as_crispy_field }}</div>
            <div class="col-md-5">{{form.conta|as_crispy_field }}</div>
          </div>

        </div>

        <div class="d-none" id="campos_pix">
          <div class="row">
            <legend class="text-primary"><b>Dados Bancário </b> </legend>
            <div class="col-md-5">{{form.pix|as_crispy_field }}</div>
          </div>
        </div>
      </div>
    </fieldset>

    <div class="row">
      <div class="col-sm-12">
        <br>

        {{formset.management_form}}

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="logo"><strong>Código SIA/SUS</strong></h4>
              </div>
              <!-- /.card-header -->
              <div class="table-responsive-md">
                <div class="card-body">
                  <table class="form table table-bordered">
                    {% for forms in formset %}
                    {% if forloop.first %}
                    <thead>
                      <tr>
                        {% for field in forms.visible_fields %}
                        <th>{{ field.label|capfirst }}</th>
                        {% endfor %}
                      </tr>
                    </thead>
                    {% endif %}
                    <tbody>
                      <tr class="{% cycle 'row1' 'row2' %}">
                        {% for field in forms.visible_fields %}
                        <td>
                          {% if forloop.first %}
                          {% for hidden in forms.hidden_fields %}
                          {{ hidden }}
                          {% endfor %}
                          {% endif %}
                          {{ field }}
                          {{ field.errors.as_ul }}
                        </td>
                        {% endfor %}
                      </tr>
                    </tbody>
                    {% endfor %}
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mb-5">
          <div class="text-right">
            <a href="{% url 'tfds:list-recibo_tfd'%}"
              class="btn btn-outline-danger mr-2">Cancelar</a>
            <button id="submit" class="btn btn-primary">Salvar</button>
          </div>
        </div>
      </div>

    </form>
  </div>

  {% endblock content%}

  {%block scripts %}

  <script src='/static/utils/jquery.formset.min.js'></script>
  <script>

  
$(document).ready(function () {
// FORMADO DE PAGAMENTO 
var pagamento_por_0=document.getElementById("id_recibo-pagamento_por_0")
var pagamento_por_1=document.getElementById("id_recibo-pagamento_por_1")
var campos_conta=document.getElementById("campos_conta")
var campos_pix=document.getElementById("campos_pix")
var agencia=document.getElementById("id_recibo-agencia")
var conta=document.getElementById("id_recibo-conta")
var pix= document.getElementById("id_recibo-pix")

if (pagamento_por_0.checked){
   campos_pix.classList.remove('d-none');
}else if (pagamento_por_1.checked){
  campos_conta.classList.remove('d-none');
}

pagamento_por_0.addEventListener('change', ativarCampos_pix);
pagamento_por_1.addEventListener('change', ativarCampos_pix);
function ativarCampos_pix() {

    if (pagamento_por_0.checked) {
        campos_pix.classList.remove('d-none') 
          campos_conta.classList.add('d-none')
          agencia.value=""
          conta.value=""
      }
      else if(pagamento_por_1.checked){ 
            campos_conta.classList.remove('d-none')
            campos_pix.classList.add('d-none')     
            pix.value=''
           
      }
    }

// Campo do acompanhante 'ser tem acompanhante'
var campos=document.getElementById('campos') 
var id_tem_acompanhante_0=document.getElementById("id_recibo-tem_acompanhante_0")
var id_tem_acompanhante_1=document.getElementById("id_recibo-tem_acompanhante_1")
var id_acompanhante=document.getElementById('id_recibo-acompanhante')

  if (id_tem_acompanhante_0.checked)
  {
    campos.classList.remove('d-none');
  }
  
  id_tem_acompanhante_0.addEventListener('change', ativarCampos);
  id_tem_acompanhante_1.addEventListener('change', ativarCampos);
  
  
  function ativarCampos() {  
    if (id_tem_acompanhante_0.checked) {
         campos.classList.remove('d-none') 
    }
    else if (id_tem_acompanhante_1.checked){
          campos.classList.add('d-none')

          if (id_acompanhante.value)
          {
              id_acompanhante.innerHTML=''
          }
          

    }
    
  }
  // ATENDIMENTO FORA DO ESTADO
  var campos_fora_estado=document.getElementById("campos_fora_estado")
  var atend_fora_estado_0=document.getElementById("id_recibo-atend_fora_estado_0")
  var atend_fora_estado_1=document.getElementById("id_recibo-atend_fora_estado_1")
  var id_recibo_qta_proced=document.getElementById('id_recibo-qta_proced')
  var id_recibo_valor_passagem = document.getElementById('id_recibo-valor_passagem')
  
  
  
  if (atend_fora_estado_0.checked){
   campos_fora_estado.classList.remove('d-none');
  }
  
  atend_fora_estado_0.addEventListener('change', ativar_foraEstados);
  atend_fora_estado_1.addEventListener('change', ativar_foraEstados);



  function ativar_foraEstados(){
    if (atend_fora_estado_0.checked)
    {
       campos_fora_estado.classList.remove('d-none') 
    }
    else if (atend_fora_estado_1.checked)
    {
       campos_fora_estado.classList.add('d-none') 
       id_recibo_qta_proced.value=''
       id_recibo_valor_passagem.value=''
  
    }
  }
  });


 $('table.form tr').formset({
  prefix: '{{ formset.prefix }}',
  addText: "<div><i class='fas fa-plus'></i></div>",
  deleteText:"<div class='btn btn-danger btn-circle'><i class='fas fa-trash'></i></div>",
 });
</script>
  {% endblock scripts %}