{% extends 'relatorio.html' %}
{% load static %}
{% block title %} RECIBO DE TFD{% endblock %}

{% block head%}
<style>
     @page {
        margin: 25px;
    }
    body {

        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }

    td {

        padding: 2px;
        text-align: center
    }

    th {
        padding: 2px;
        text-align: center;
    }

    table {

        font-size: 13px;
    }

    p {
        margin: 0;
    }
</style>

{% endblock%}
{% block content %}
{% include 'includes/cabecalho.html' %}

<h2 class="text-center"><b> RECIBO DE PAGAMENTO DE TFD</b></h2>
<div class="container-fluid">
    <div class="bordas">
        <div class="row">
            <div class="col-md-6 p-2 ">
                <p><b>NOME DO PACIENTE: </b>
                    {{recibo_tfd.paciente.nome_completo|upper}}
                    &nbsp; &nbsp;
                </p>

                <p class><b>CPF: </b>&nbsp{{recibo_tfd.paciente.formt_cpf|upper}}

                    &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                    {% if recibo_tfd.rg %}
                        <b>RG: </b>{{recibo_tfd.paciente.rg|upper}}
                    {%else%}
                        <b>RG: </b> &nbsp; &nbsp;-
                    {%endif%}
                    &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                    <b>CNS: </b>{{recibo_tfd.paciente.cns|upper}}
                </p>
            </div>
        </div>
        <div class="linha"></div>
        <div class="row">
            <div class="col-md-6 m-2 ">
                {%if recibo_tfd.acompanhante%}
                <p class><b>NOME DO ACOMPANHANTE: </b>
                    {{recibo_tfd.acompanhante|upper}}

                    &nbsp; &nbsp;&nbsp;&nbsp;
                </p>
                {% else %}
                <p class><b>NOME DO ACOMPANHANTE: </b>

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -

                </p>
                {% endif %}

                {% if recibo_tfd.cpf %}
                <p class><b>CPF:
                    </b>{{recibo_tfd.cpf|upper}} &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;
                    {% else %}
                    <p class>
                        <b>CPF: </b>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -
                        &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                        &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                        {% endif %}

                        {% if recibo_tfd.rg %}
                        <b>RG:
                        </b>
                        {{recibo_tfd.rg|upper}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        {%else %}

                        <b>RG: </b> &nbsp; &nbsp; &nbsp;&nbsp;-

                        {%endif%}
                        {% if recibo_tfd.cns %}

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>CNS:
                        </b>{{recibo_tfd.cns|upper}}

                    </p>
                    {% else %}

                    &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;
                    &nbsp;&nbsp;

                    <b>CNS:</b>&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;
                    &nbsp;&nbsp;

                    -</p>
                {% endif %}
            </div>
        </div>
        <div class="linha"></div>
        <div class="row">
            <div class="col-md-6 m-2">
                <p><b>DADOS BANCÁRIO:</b>
                    <br>

                    {%if recibo_tfd.pagamento_por == '1'%}
                    <b> PIX:</b> {{recibo_tfd.pix}}
                    {%else%}
                    <b> AGÊNCIA:</b> {{recibo_tfd.agencia}} &nbsp;&nbsp;&nbsp;
                    <b>CONTA:</b> {{recibo_tfd.conta}}
                    {%endif%}</p>

            </div>
        </div>
        <div class="linha"></div>
        <div class="row">
            <div class="col-md-6 m-2">
                <p>
                    <b>MUNICIPIO DE ORIGEM :</b>
                    {{recibo_tfd.municipio_origem|upper}}
                </p>
                <p class>
                    <b>GRS : </b>{{recibo_tfd.grs|upper}}
                </p>
            </div>
        </div>
        <div class="linha"></div>
        <div class="row">

            <div class="col-md-6 m-1">
                <p>
                    <b>MUNICIPIO DE DESTINO :</b>
                    {{recibo_tfd.municipio_destino|upper}}
                </p>
            </div>
        </div>

        <div class="linha"></div>

        <div class="row">
            <div class="col-md-6 m-1">
                <p>
                    <b>ESPECIALIDADE:</b>

                    {{recibo_tfd.especialidade|upper}}
                </p>
            </div>

        </div>
        <div class="linha"></div>
        <div class="row">
            <div class="col-md-6 m-1">
                <p>
                    
                    <b>UNIDADE ASSISTENCIAL:</b>
                    <br>
                    {%if recibo_tfd.unid_assistencial %}
                        {{recibo_tfd.unid_assistencial|upper}}
                    {%else%}
                     &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;------
                    {%endif%}
                </div>

            </div>

            <div class="linha"></div>
        </div>
        <h3 class="text-center pt-2"><b>TABELA DE PROCEDIMENTOS</b></h3>
        <table border=" 1" class="table">

            <thead>
                <tr>
                    <th class="title_center">ITENS</th>
                    <th>CÓDIGO</th>
                    <th>QUANT.</th>
                    <th class="text-center">VLR UNIT. T.SIGTAP</th>
                    <th class="text-center">VLR TOTAL T.SIGTAP</th>
                    <th class="text-center">VLR COMP. MUNICIPAL</th>
                    <th class="text-center">TOTAL</th>
                </tr>
            </thead>
            <tbody>
                {% for p in procedimentos %}
                <tr>

                    <td class="title_center ">{{ forloop.counter }} </td>

                    <td>{{p.codigosia.codigo}}</td>
                    <td>{{p.qtd_procedimento}}</td>
                    <td>{{p.codigosia.valor_unid_sigtap}}</td>
                    <td> {{p.codigosia.valor_total_sigtap}}</td>
                    <td>{{p.codigosia.valor_comp_mun}}</td>
                    <td>{{p.soma}}</td>

                </tr>

                {%endfor%}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5" style="text-align: end;"><b>

                        </b> </td>

                    <td colspan="2"
                        style="text-align: end; font-size: 15px;"><b>
                            TOTAL:&nbsp;&nbsp; R${{recibo_tfd.total_pag}}
                        </b> </td>
                </tr>
            </tfoot>
        </table>

        <div class="bordas pb-1">
            <p class="text-center pt-2 "><b> APROVAÇÃO DA DESPESA</b></p>
            <p class="m-0 p-2"><b>DATA:
                </b>{{recibo_tfd.data|date:"d/m/Y"|default:'---'}}</p>
            <p
                class=" text-center m-0 ">______________________________________</p>
            {%if recibo_tfd.status == '2'%}
            <p class="text-center p-1"><b>STATUS:</b>
                {{recibo_tfd.get_status_display}}
                {%elif recibo_tfd.status == '3' %}
                <p class><b>STATUS:</b> {{recibo_tfd.get_status_display}}
                    {%endif%}
                    {%if recibo_tfd.aprovado_por %}
                    <p class="text-center"><b>{{recibo_tfd.aprovado_por|upper}}
                            <br>
                            SECRETÁRIO MUNICIPAL DE SAÚDE
                        </b> </p>
                    {%else%}
                    <p class=" text-center">{{profissional.nome_completo|upper}}
                        <br>
                        <b>
                            SECRETÁRIO MUNICIPAL DE SAÚDE
                        </b>

                    </p>
                    {%endif%}

                </div>

                <div class="bordas">
                    <p class="text-center pt-2"><b> COMPROVANTE DE
                            RECEBIMENTO</b></p>
                    <p class="paragrafo">

                        Recebi o valor de <b>R$ {{recibo_tfd.total_pag}}</b> da
                        importância acima a título de TFD.
                    </p>
                    <p class="m-0 p-2"><b>DATA:</b>
                        {{recibo_tfd.data|date:"d/m/Y"|default:'---'}} </p>
                    <p
                        class="text-center">______________________________________</p>
                    <p
                        class="paragrafo title_center"><b>{{recibo_tfd.paciente.nome_completo|upper}}</b></p>
                </div>

            </div>
            <div class="pt-2">

                <p> Realizado por {{recibo_tfd.criado_por}} no dia
                    {{recibo_tfd.updated_at|date:"d/m/Y"|default:'---'}} às
                    {{recibo_tfd.created_at|time:"H:i"|default:'---'}} </p>
            </div>

            {% endblock content%}